@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,latin-ext);

link.login-header {
    border-bottom: medium none;
    color: #4E5251 !important;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px !important;
}
.tooltip {
    font-family: Tahoma !important;
}
.powiadomienia {
    background: #eee;
    width: 720px;
    height: 50px;
    float: left;
}
.free {
    border: 2px solid #999;
}
.free .formula-header {
    border-bottom: 2px solid #999;
    background: #999;
}
.partnerzy {
    width:980px; 
    margin: 0 auto; 
    font-size: 16px;
    height: 110px;
}
.partnerzy .text {
    display: block;
    margin-top: 30px;
}
.partnerzy .jakdojade {
    width: 82px;
    height: 22px;
    display: block;
    float: left;
    overflow: hidden;
    margin-top: 20px;
    background: url("../images/partnerzy/jakdojade.jpg") no-repeat;
}
.partnerzy .jakdojade:hover {
    background-position: 0% 100% !important;
}
.partnerzy .qpony {
    width: 66px;
    height: 20px;
    display: block;
    float: left;
    overflow: hidden;
    margin-top: 23px;
    margin-left: 20px;
    background: url("../images/partnerzy/qpony.jpg") no-repeat;
}
.partnerzy .qpony:hover {
    background-position: 0% 100%;
}
.btn-browser a {
    color: #FFF;
}
.btn-browser a:hover, .btn-browser a:focus {
    text-decoration: none;
}
.label.label-error {
    background: #C81D1D;
    display: inline-block;
    height: auto;
    margin: 0;
    width: auto;
}
.partnerzy .zostanstudendem {
    width: 80px;
    height: 20px;
    display: block;
    float: left;
    overflow: hidden;
    margin-top: 23px;
    margin-left: 20px;
    background: url("../images/partnerzy/zostanstudendem.jpg") no-repeat;
}
.partnerzy .zostanstudendem:hover {
    background-position: 0% 100%;
}
.partnerzy .uam {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    overflow: hidden;
    margin-left: 20px;
    margin-top:  10px;
    background: url("../images/partnerzy/uam.jpg") no-repeat;
}
.partnerzy .uam:hover {
    background-position: 0% 100%;
}
.partnerzy .startstartup {
    width: 66px;
    height: 25px;
    display: block;
    float: left;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    background: url("../images/partnerzy/startstartup.jpg") no-repeat;
}
.partnerzy .startstartup:hover {
    background-position: 0% 100%;
}
.partnerzy .aisec {
    width: 90px;
    height: 25px;
    display: block;
    float: left;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    background: url("../images/partnerzy/aiesec.jpg") no-repeat;
}
.partnerzy .aisec:hover {
    background-position: 0% 100%;
}
.partnerzy .mamstartup {
    width: 65px;
    height: 20px;
    display: block;
    float: left;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    background: url("../images/partnerzy/mamstartup.jpg") no-repeat;
}
.partnerzy .mamstartup:hover {
    background-position: 0% 100%;
}
.partnerzy .aip {
    width: 67px;
    height: 20px;
    display: block;
    float: left;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    background: url("../images/partnerzy/aip.jpg") no-repeat;
}
.partnerzy .aip:hover {
    background-position: 0% 100%;
}
.partnerzy .juicynews {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    overflow: hidden;
    margin-top: 13px;
    margin-left: 20px;
    background: url("../images/partnerzy/juicynews.jpg") no-repeat;
}
.partnerzy .juicynews:hover {
    background-position: 0% 100%;
}
.partnerzy .kartaroznorodnosci {
    width: 48px;
    height: 40px;
    display: block;
    float: left;
    overflow: hidden;
    margin-top: 6px;
    margin-left: 20px;
    background: url("../images/partnerzy/kartaroznorodnosci.jpg") no-repeat;
}
.partnerzy .kartaroznorodnosci:hover {
    background-position: 0% 100%;
}
.overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    z-index: 10;
    opacity: 0;
    filter: alpha(opacity=0);
}
.overlayerPopup {
    position: fixed;
    z-index: 11;
    width: 750px;
    background: #4F5252;
    left: -750px;
}
.overlayerPopup .close {
    width: 20px;
    height: 20px;
    background: url(../images/cross.png) no-repeat;
    margin: 10px;
}
.overlayerButton {
    padding: 10px 25px;
    font-size: 17px;
    color: #FFF;
    background: #c81d1d;
    border: 1px solid #c81d1d;
    margin: 0px auto 20px auto;
    display: block;
}
.small-tags{
    background: #4F5252 url(../images/tagi-header.png) 130px 40px no-repeat;
    width: 700px;
    padding: 100px 0px 30px 0px;
    color: #fff;
}
.searchMainBox {
    position: absolute;
    margin-top: 90px;
    margin-left: 340px;
}
.filtry li {
    display: none;
}
.filtry .active {
    display: block;
}
.filtry h2 span {
    cursor: pointer;
}
.one-notice {
    padding-top: 5px;
    padding-left: 5px;
    border-left: 1px #f3f3f3 solid;
    border-right: 1px #f3f3f3 solid;
    border-bottom: 1px #f3f3f3 solid;
    position: relative;
    overflow:visible;
    height: 75px;
}
.karusela .one-notice {
    border: none;
}
.karusela .one-notice .one-notic-pay {
    margin-left: -90px;
}
.karusela .one-notic-pay {
    margin-left: 0px;
}
.karusela .wyroznienie2 {
    background: none;
}
.karusela .wyroznienie2 .one-notic-pay {
    margin-left: 0px;
}
.karusela .wyroznienie2:hover {
    background: #F5F4F4;
}
.karusela .wyroznienie .one-notic-pay {
    margin-left: 0px;
}
.karusela-mask{
    height: 320px;
}
.fav {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
}
.fav {
    background: url(../images/favsprite.png) no-repeat;
}
.fav.main {
    background: url(../images/favsprite.png) no-repeat;
}
.fav.active {
    background: url(../images/favsprite.png) no-repeat left bottom;
}
.fav.main.active {
    background: url(../images/favsprite.png) no-repeat left bottom;
}
.wyroznienie {
    border: 1px #505153 solid !important;
    padding-left: 5px;
    height: 73px;
    padding-top: 5px;
    width: 600px;
    padding-right: 15px;
}
.wyroznienie .one-notice-text-box {
    width: 380px;
}
.wyroznienie2 {
    border: 1px #cb0e1f solid !important;
    padding-left: 5px;
    height: 73px;
    padding-top: 5px;
    width: 594px;
    padding-right: 15px;
}
.wyroznienie2 .one-notice-text-box {
    width: 380px;
}
.wyroznienie2 a {
    color: #cb0e1f;
}
.friend-share{
    bottom: 40px;
    height: 20px;
    position: absolute;
    right: 0px;
    width: 150px;
}
.big-tags {
    background: url("../images/tagi-header-2.png") no-repeat scroll center 40px #39ADAD;
}
.big-tags.rejestracja {
    background: url("../images/tagi-header.png") no-repeat scroll center 40px #39ADAD;
}
.livechat {
    position: fixed;
    bottom: 0px; 
    right: 50px;
}
.job-title .fav {
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    width: 30px;
    height: 30px;
}
.job-title .fav {
    background: url(../images/favsprite2.png) no-repeat;
}
.job-title .fav.main {
    background: url(../images/favsprite2.png) no-repeat right top;
}
.job-title .fav.active {
    background: url(../images/favsprite2.png) no-repeat left bottom;
}
.job-title .fav.main.active {
    background: url(../images/favsprite2.png) no-repeat right bottom;
}

/* Kalendarz */
.calendar-table{
    text-align: center;
    margin: auto;
}
.calendar-table > thead > tr > th > div.header{
    padding: 3px 0 10px 0;
}
.calendar-table > tbody > tr > td.row{
    width: 40px;
    height: 40px;
    border: 1px solid #fff; 
}
.calendar-table > tbody > tr > td.empty-row{
    background: #fff;   
}
.calendar-table > tbody > tr > td.today-row{
    background: #E3E3E3;  
}
.calendar-table > tbody > tr > td.rest-row{
    background: #F7F7F7;    
}
.calendar-table > tbody > tr > td.full-row{
    background: #39ADAD;
    color: #fff;    
}
.calendar-table > tbody > tr > td.full-row a{
    color: #fff;    
}
.calendar-table > tbody > tr > td.active-row a{
    border:2px solid yellow !important;     
}
.calendar-more
{
    margin-top: 10px;
    text-align: center;
}
.calendar-big-left{
    float: left;
    margin: 20px;
}
.calendar-big-right{
    float: left;
    margin: 20px;
    width: 600px;
    position: relative;
}
.calendar-header > form > div{
    float: left;
    margin: 30px;
}
.calendar-progress{
    display: none;
    background: url(../images/load_360.gif) no-repeat;
    background-position:center; 
/*    filter: alpha(opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    opacity:0.3;
    -moz-opacity: 0.30; */
    zoom: 1;    
    width: 600px;
    height: 260px;
    position:absolute;
}
.calendar-dayinfo{
    font-size: 14px;
    font-weight: bold;
}
.calendar-position-info{
    padding: 10px;
    background: #FAFDF4;
}
.calendar-big a{
    float:left;
    padding: 10px;
    margin:4px;
    background: #EDEDED;
    border:1 px solid #4F5252;
    width: 30px;
    height: 60px;
    text-align: center;
    display: block;
    text-decoration: none;
}
.calendar-big a.notactive{
    background: url(../images/calendar_notactive.png) repeat !important;
    color: gray;
}

.calendar-big a:hover{
    text-decoration: none;
}
.calendar-big .day{
    display: block;
    padding-top: 22px;
}

.calendar-big h3{
    color: #39ADAD;
    font-size: 15px;
}
.calendar-big h4{
    color: #39ADAD;
    font-size: 13px;
}


.calendar-hours tr td{
    margin: 10px;
    display: inline-block;
}
.calendar-hours .hour-counter{
    color: gray;
    width:50px;
}
.calendar-hours .content{
    padding: 20px;
    margin: 3px;
    width: 500px;
}
.calendar-hours .content.notactive{
    background: url(../images/calendar_notactive.png) repeat !important;
}
.calendar-hours .content.free{
    background: #EDEDED;
    border: 0;
}
.work-now {
    background: none;
    height: 110px;
    width: 100%;
    background: url(../images/work-now-logo-mini-2.png) no-repeat 160px 90px;
}
.work-now .input-checkbox {
    top: 60px;
    left: 0px;
}
.work-now .input-checkbox .checkbox-bg {
    border: 1px solid #333;
}

.one-notic-pay {
    margin-left: -60px;
    padding: 5px 10px 0 0;
}
.one-notic-pay .value {
    font-size: 30px;
}
.one-notice {
    cursor: auto;
}

.one-notice .workNow {
    position: absolute;
    z-index: 1;
    right: 0px;
}
.one-notice-text-box {
    cursor: pointer;
}
.jaktodziala {
    width: 980px;
    height: 433px;
    background: url("../images/jaktodziala.jpg") no-repeat;
    position: initial;
}
.jaktodziala .pracujTerazBtn {
    width: 175px;
    height: 175px;
    overflow: hidden;
    background: url("../images/jaktodziala-pracujteraz.jpg") no-repeat;
    cursor: pointer;
    margin-top: 130px;
}
.jaktodziala .pracujTerazBtn:hover {
    background-position: 100% 100%;
}
.jaktodziala .letsWorkTogetherBtn {
    width: 175px;
    height: 175px;
    overflow: hidden;
    background: url("../images/jaktodziala-letsworktogether.jpg?v=1") no-repeat;
    cursor: pointer;
    margin-top: 130px;
}
.jaktodziala .letsWorkTogetherBtn:hover {
    background-position: 100% 100%;
}
.jaktodziala .oneClickBtn {
    width: 175px;
    height: 175px;
    overflow: hidden;
    background: url("../images/jaktodziala-oneclick.jpg") no-repeat;
    cursor: pointer;
    margin-top: 130px;  
}
.jaktodziala .oneClickBtn:hover {
    background-position: 100% 100%;
}
.jaktodziala table {
    font-size: 20px;
    color: #333;
    line-height: 150%;
}
.jaktodziala .info {
    width: 961px;
    height: 343px;
    top: 94px;
    left: 10px;
    position: absolute;
    display: none;
}
.jaktodziala .info .closeBtn {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    cursor: pointer;
    background: url("../images/jaktodziala-close.jpg") no-repeat;
    z-index: 11;
}
.jaktodziala .info img {
    margin-top: 20px;
    margin-left: 50px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}
.jaktodziala .info .closeBtn:hover {
    background-position: 100% 100%;
}
.slider {
    overflow: hidden;
    width: 880px;
    height: 80px;
}
.cke_contents  {
    height: 100px;
}
.jakdojadeMapa {
    padding: 10px;
    background: #F4F4F4 url("../images/jakdojade-mapka.jpg") no-repeat;
    
}
.jakdojadeMapa span {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 32px;
    background: #FFF;
    border: #F4F4F4;
    border-radius: 5px;
    width: 70%;
    height: 30px;
    position: relative;
}
.jakdojadeMapa img {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.jakdojadeMapa a {
    color: #39ADAD;
    font-weight: bold;
    font-size: 16px;
}
.offer-zewn{
    background: url(../images/offer-zewn.png) no-repeat;
    position: absolute;
    width: 57px;
    height: 57px;
    right: 0px;
    top: 0px;
}
.btn {
    border-radius: 0px;
    background: #FFF;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;

}
.btn-normal {
    background: #666;
    color: #FFF;
    text-shadow: none;
    border: #333 1px solid;
}
.btn-normal:hover, .btn-normal:focus {
    color: #FFF;
    background: #555;
}
.btn-success {
    background: #009900;
}
.btn-info {
    background: #5BC0DE;
    color:#FFF;
}
.btn-primary {
    background: #39ADAD;
}
.btn-primary:hover, .btn-primary:focus {
    background: #2D8F8D;
}
.btn-danger {
    background: #c81d1d;
}
.btn-danger:hover {
    background: #E82323;
}
.btn-happinate {
    background: #39ADAD;
    color: #FFF;
    border: #39ADAD;
    text-shadow: none;
    font-size: 13px;
}
.btn-warning {
    background: #FAA732;
}
.btn-happinate:hover, .btn-happinate:focus {
    background: #39adad;
    color: #FFF;
}
#oferty-pracy .one-notic-pay {
    margin-left: -70px;
}
#oferty-pracy .one-notice-text-box {
    width: 380px;
}
#oferty-pracy .wyroznienie {
   padding-right: 10px;
}
.job-title .jobTitleH2 {
    padding:15px 0px 30px 0px;
}
.job-title .pracujTerazH2 {
    padding-left: 50px;
    color: #ca0d20;
    background: url("../images/work-now-logo-mini-2.png") no-repeat 0px 15px;
}
.job-title .wyroznienieH2 {
    padding-left: 50px;
    color: #3d3d3d;
    background: url("../images/super-oferta-mini.png") no-repeat 0px 15px;
}
.miesieczna {
    display: none;
}
.pracujTerazImgBtn {
    display: block;
    overflow: hidden;
    background: url("../images/pracuj-teraz-home.jpg") no-repeat;
    height: 241px;
    width: 250px;
    margin-left: 36px;
}
.pracujTerazImgBtn:hover {
    background-position: 100% 100%;
}

.profile {
    
}
.profile h2 {
    font-weight: bold;
    border-bottom: 2px solid #39ADAD; 
    padding: 0 0 10px 10px;
}
.profile .logo {
    max-height: 100px;
    max-width: 200px;
    margin: 10px;
}
.profile .adres {
    font-size: 16px;
    color: #666;
    line-height: 150%;
    margin-top: 25px;
}
.profile .adres .notice-share {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
.profile .adres .notice-watch {
    position: absolute;
    right: 120px;
    top: 15px;
    z-index: 10;
}
.profile .simple-fb-like {
    margin-top: 10px;
}
.profile .simple-fb-like .fb-like {
    margin: 10px;
}
.profile .profile_img_info {
    position: absolute;
    padding: 15px;
    width: 300px;
    color: #FFF;
    background: #000;
    bottom: 0px;
    right: 0px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.profile .notice-share{
	width: 106px;
	height: 21px;
        margin-top: 5px;
}

.profile .notice-share ul{
	position: absolute;
	display: none;
	background: #fff;
	width: 106px;
	height: 75px;
}

.profile .notice-share ul li a{
	display: block;
	height: 25px;
	width: 106px;
	background: url(../images/share-btn.png) no-repeat;
	opacity: 1;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
}

.profile .notice-share ul li a:hover{
	opacity: 0.7;
}

.profile .notice-share ul li a.twitter{
	background-position: 0px -25px;
}

.profile .notice-share ul li a.mail{
	background-position: 0px -50px;
}
.profile .box {
    width: 116px;
    height: 116px;
    display: block;
    float: left;
}
.profile .box.link {
    background: #39adad url(../images/profile-www.jpg) no-repeat center;
}
.profile .box.email {
    background: #4f5354 url(../images/profile-email.jpg) no-repeat center;
    margin-left: 10px;
}
.profile .box.fb {
    background: #4364ab url(../images/profile-fb.jpg) no-repeat center;
    margin-left: 10px;
}
.profile .box.inactive {
    opacity: 0.3;
    filter: alpha(opacity=30);
    cursor: default;
}
.profile .bigBox {
    padding: 30px;
    min-height: 241px;
    width: 308px;
    background: #39adad;
    margin-top: 10px;
    color: #FFF;
    line-height: 150%;
}
.profile .bigBox .text {
    overflow: hidden;
    height: 200px;
    text-align: justify ;
}
.profile .bigBox .more {
    margin-top: 10px;
    float: right;
    cursor: pointer;
}
.profile .profileimg {
    background: #39ADAD;
    text-align: center;
    height: 427px;
    width: 570px;
    vertical-align: middle;
    position: relative;
}
.profile .profileimg img {
    vertical-align: middle;
    max-height: 427px;
    max-width: 570px;
}
.profile .karusela-all {
    width: 570px;
    height: 220px;
    overflow: hidden;
}
.profile .karusela-all .one-notice {
    width: 568px;
    height: 70px;
    border: 1px solid #eee;
    padding: 0;
    margin-bottom: 2px;
}

.profile .karusela-all .one-notice-logo {
    height: 70px;
}
.profile .one-notice-logo img {
    max-height: 70px;
    max-width: 70px;
}
.profile .one-notic-pay {
    padding: 0px;
}
.profile .one-notice-text-box .notice-title {
    font-size: 15px;
    padding-top: 19px;
    padding-left: 10px;
}
.profile .one-notice-text-box .notice-job-area {
    font-size: 13px;
}
.profile .value {
    font-size: 20px;
    margin-top: 12px;
}
.profile .rate {
    font-size: 10px;
}
.profile .one-notic-pay small {
    font-size: 15px;
}
.profile #oferty-pracy .one-notice-text-box {
    width: 340px;
}
.profile #oferty-pracy .wyroznienie {
    padding: 0;
}
.dodaj-ogloszenie-select {
    width:410px;
}
.multiple-select-input {
     width:420px;
     background: #EDEDED;
     border: 1px solid #CCC;
     position: relative;
}
.multiple-select-input .icon-select-list{
    position: absolute;
    top: 12px;
    right: 16px;
}
/* new-candidate-profile */
.new-candidate-profile {
    width: 980px;
}

.new-candidate-profile .left-column {
    width: 240px;
    float: left;
}
.new-candidate-profile .middle-column {
    width: 460px;
    float: left;
}
.new-candidate-profile .right-column {
    width: 240px !important;
    float: right;
}

/* left */
.new-candidate-profile .left-column .avatar {
    width: 240px;
    background: #EEE;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.new-candidate-profile .left-column .box1 {
    background: #EEE;
    margin-bottom: 10px;
}
.new-candidate-profile .left-column .avatar img {
    vertical-align: middle;
    width: 240px;
}
.new-candidate-profile .left-column .name {
    font-size: 24px;
    color: #4f5252;
    margin-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.new-candidate-profile .left-column .adres {
    font-size: 15px;
    color: #4f5252;
    margin: 2px auto 0px auto;
    height: 34px;
    padding-left: 40px;
    line-height: 36px;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
    background: url(../images/icon-adres.jpg) no-repeat;
}
.new-candidate-profile .left-column .email {
    font-size: 15px;
    color: #4f5252;
    margin: 2px auto 0px auto;
    height: 34px;
    padding-left: 40px;
    line-height: 36px;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
    background: url(../images/icon-email.jpg) no-repeat;
}
.new-candidate-profile .left-column .phone {
    font-size: 15px;
    color: #4f5252;
    margin: 2px auto 0px auto;
    height: 34px;
    padding-left: 40px;
    line-height: 36px;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
    background: url(../images/icon-phone.jpg) no-repeat;
}

.new-candidate-profile .left-column .happirating {
    margin-top: 20px;
}
.new-candidate-profile .left-column .happirating .title {
    font-size: 15px;
    float: left;
    color: #39ADAD;
    margin-left: 20px;
}
.new-candidate-profile .left-column .happirating .stars {
    background: url(../images/profile-stars.png);
    float: left;
    width: 125px;
    height: 25px;
    margin-top: -5px;
    margin-left: 15px;
    overflow: hidden;
}
.new-candidate-profile .left-column .happirating .stars .stars-complete{
    background: url(../images/profile-stars.png) 0% 100%;
    float: left;
    height: 25px;
    overflow: hidden;
}
.new-candidate-profile .button {
    background: #666666;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    border: 1px solid #333;
    margin-top: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 4px 7px 7px 11px;
}
.new-candidate-profile .button:hover, .new-candidate-profile .button:focus {
    background: #999;
    text-decoration: none;
    border: 1px solid #666;
}
.new-candidate-profile .button.szukaj-pracy {
    background: #f16437;
    color: #FFFFFF;
    display: inline-block;
    font-size: 15px;
    margin-top: 15px;
    padding: 6px 10px 7px 15px;
}
.new-candidate-profile .button.szukaj-pracy .icon{
    margin-top: 3px;
}
.new-candidate-profile .button.szukaj-pracy:hover, .new-candidate-profile .button.szukaj-pracy:focus {
    background: #fa5d2b;
}
.new-candidate-profile .left-column .box2 {
    background: #EEE;
    margin-top: 10px;
}
.new-candidate-profile .left-column .box2 .title {
    font-size: 14px;
    padding: 10px 15px;
    background: #4f5252;
    color: #FFF;
}
.new-candidate-profile .left-column .box2 .galeria {
    margin: 10px 10px 0px 10px;
}
.new-candidate-profile .left-column .box2 .galeria img{
    margin: 5px;
    width: 63px;
    height: 63px;
    float: left;
}
.new-candidate-profile .left-column .box3 {
    background: #EEE;
    margin-top: 10px;
}
.new-candidate-profile .left-column .box3 .title {
    font-size: 23px;
    padding: 15px;
    background: #4f5252;
    color: #FFF;
    text-align: center; 
    font-family: 'PT Sans Narrow', sans-serif;
    display: block;
}
.new-candidate-profile .left-column .box3 .title:hover {
    text-decoration: none;
}
.new-candidate-profile .left-column .box3 .title span{
    color: #39ADAD;
}
.new-candidate-profile .left-column .box3 .title-little {
    font-size: 16px;
    padding: 10px 0px;
    background: #4f5252;
    color: #FFF;
    text-align: center; 
    font-family: 'PT Sans Narrow', sans-serif;
    display: block;
    position: relative;
    margin: 0 20px;
    top: 10px;   
}
.new-candidate-profile .left-column .box3 .title-little:hover {
    text-decoration: none;
}
.new-candidate-profile .left-column .box3 .title-little span{
    color: #39ADAD;
}
.new-candidate-profile .left-column .box3 .text {
    font-size: 14px;
    line-height: 150%;
    padding: 15px;
    color: #505251;
}
/* middle */
.new-candidate-profile .middle-column .stworzcv .title {
    font-size: 23px;
    padding: 15px;
    background: #4f5252;
    color: #FFF;
    text-align: center; 
    display: block;
    margin-bottom: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.new-candidate-profile .middle-column .stworzcv:hover {
    text-decoration: none;
}
.new-candidate-profile .middle-column .stworzcv .title span{
    color: #39ADAD;
}
.new-candidate-profile .middle-column .box1 {
    background: #EEE;
}
.new-candidate-profile .middle-column .box1 .title {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
    padding: 10px 15px;
    background: #4f5252;
    color: #FFF;
    text-align: left; 
}
.new-candidate-profile .middle-column .box1 small {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #999;
}
.new-candidate-profile .middle-column .box1 .title span{
    color: #39ADAD;
}
.new-candidate-profile .middle-column .box1 .text {
    font-size: 15px;
    line-height: 150%;
    padding: 15px;
    color: #505251;
}
.new-candidate-profile .middle-column .box1 .text label {
    color: #39ADAD;
}
.new-candidate-profile .middle-column .box1 .chosen-container {
    font-size: 12px;
    padding: 0;
    margin: 0;
    border: 0;
    width: 400px;
    margin-top: 5px;
    border: #999 1px solid;
    padding: 5px 5px 0px 5px;
}
.new-candidate-profile .middle-column .box1 .chosen-container-multi .chosen-choices li.search-choice{
    margin: 0px 5px 5px 0px;
}
.new-candidate-profile .middle-column .box1 .chosen-container-multi .chosen-choices .search-field input{
    width: 1px;
    height: 12px;
}
.new-candidate-profile .middle-column .box2 {
    background: #EEE;
    margin-top: 10px;
    position: relative;
}
.new-candidate-profile .middle-column .box2 .title {
    font-size: 15px;
    padding: 10px 15px;
    background: #4f5252;
    color: #FFF;
    text-align: left; 
    cursor: pointer;
    font-family: 'PT Sans Narrow', sans-serif;
}
.new-candidate-profile .middle-column .box2 .button {
    padding-bottom: 3px;
}
.new-candidate-profile .middle-column .box2 .pracuj-teraz {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -2px;
    left: 220px;
    background: url(../images/work-now-logo-mini-2.png) no-repeat;
}
.new-candidate-profile .middle-column .box2 .one-click {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -2px;
    left: 130px;
    background: url(../images/jaktodziala-oneclick-mini-2.png) no-repeat 100% 100%;
}
.new-candidate-profile .middle-column .box2 .title a{
    color: #38adad;
    display: block;
    float: right;
}
.new-candidate-profile .middle-column .box2 .title a:hover, .new-candidate-profile .middle-column .box2 .title a:focus{
    color: #38adad;
    text-decoration: none;
}
.new-candidate-profile .middle-column .box2 .text {
    font-size: 15px;
    line-height: 150%;
    color: #505251;
    display: none;
}
.new-candidate-profile .middle-column .box2 .text table {
    width: 100%;
    font-size: 14px;
}
.new-candidate-profile .middle-column .box2 .text table tr {
    border-bottom: 1px solid #CCC;
}
.new-candidate-profile .middle-column .box2 .text table td {
    padding: 5px;
}
.new-candidate-profile .middle-column .box2 .text table tr:hover {
    background: #E3e3e3;
}
.new-candidate-profile .middle-column .box2 .text .name {
    color: #969696;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
}
.new-candidate-profile .middle-column .box2 .text .usun-z-obserwowanych {
    text-decoration: none;
    font-size: 14px;
    color: #333;
}
.new-candidate-profile .middle-column .box2 .text .usun-z-obserwowanych:hover {
    text-decoration: none;
}
.new-candidate-profile .middle-column .box2 .text .city {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50px;
}
.new-candidate-profile .middle-column .box2 .text .name a {
    color: #969696;
}
.new-candidate-profile .middle-column .box2 .text .desc {
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
}
.new-candidate-profile .middle-column .box2 .text .desc a {
    color: #666;
}
.new-candidate-profile .middle-column .box2 .text .date {
    color: #666;
    font-size: 12px;
    text-align: right;
    line-height: 100%;
}
.new-candidate-profile .middle-column .box2.worknow .title {
    background: url(../images/work-now-logo-mini.png) no-repeat #ca0d20 5px 5px;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 15px;
}
/* right column */
.new-candidate-profile .right-column .box1 {
    background: #EEE;
}
.new-candidate-profile .right-column .box1 .title {
    font-size: 15px;
    padding: 10px 15px;
    background: #4f5252;
    color: #FFF;
    text-align: left; 
}
.new-candidate-profile .right-column .box1 .title .badge{
    border-radius: 0;
    color: #FFF;
    font-size: 13px;
    padding: 5px 7px;
    float: right;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: -10px;
}
.new-candidate-profile .right-column .box1 .kalendarz {
    font-size: 15px;
    line-height: 150%;
    padding: 5px;
    color: #505251;
    min-height: 200px;
    position: relative;
}
.new-candidate-profile .right-column .box1 .kalendarz .loading{
    width: 100%;
    height: 100%;
    background: #FFF url(../images/ajax-loader.gif) center no-repeat;
    opacity: .8;
    min-height: 200px;
    position: absolute;
    z-index: 10000;
    top: 0px;
    left: 0px;
}
.new-candidate-profile .right-column .box1 .kalendarz .miesiace{
    text-align: center;
    padding: 5px 0px;
    background: #FFF;
    font-size: 15px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
}
.new-candidate-profile .right-column .box1 .kalendarz table{
    border: 0;
    background: #FFF;
    border: 1px solid #CCC;
    table-layout: fixed;
}
.new-candidate-profile .right-column .box1 .kalendarz table th {
    text-align: center;
    font-weight: bold;
    padding: 5px 0px;
    border: 1px solid #ccc;
    width: 32px;
}
.new-candidate-profile .right-column .box1 .kalendarz table td {
    text-align: center;
    border: 1px solid #ccc;
}
.new-candidate-profile .right-column .box1 .kalendarz table td:hover {
    background: #eee;
}
.new-candidate-profile .right-column .box1 .kalendarz table td a {
    color: #333;
}
.new-candidate-profile .right-column .box1 .kalendarz table td.today {
    background: #CCC;
}
.new-candidate-profile .right-column .box1 .kalendarz table td.blank {
    background: #EEEEEE;
    cursor: auto;
}
.new-candidate-profile .right-column .box1 .kalendarz table td div {
    position: relative;
    padding: 5px 0px;
}
.new-candidate-profile .right-column .box1 .kalendarz table td div span {
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    display: block;
    width: 10px;
    height: 5px;
    background: #FFF;
}
.new-candidate-profile .right-column .box1 .kalendarz table td div span.meeting {
    background: #FAA732;
    border-left: 1px solid #FAA732;
    border-bottom: 1px solid #FAA732;
}
.new-candidate-profile .right-column .box1 .kalendarz table td div span.notice {
    background: #5BC0DE;
    border-left: 1px solid #5BC0DE;
    border-bottom: 1px solid #5BC0DE;
}
.new-candidate-profile .right-column .box1 .kalendarz table td div span.unread {
    background: #C81D1D;
    border-left: 1px solid #C81D1D;
    border-bottom: 1px solid #C81D1D;
}
.new-candidate-profile .right-column .box2 {
    background: #EEE;
    margin-top: 10px;
}
.new-candidate-profile .right-column .box2 .title {
    font-size: 15px;
    padding: 10px 15px;
    background: #4f5252;
    color: #FFF;
    text-align: left; 
    font-family: 'PT Sans Narrow', sans-serif;
}
.new-candidate-profile .right-column .box2 .title .badge{
    border-radius: 0;
    color: #FFF;
    font-size: 13px;
    padding: 5px 7px;
    float: right;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: -10px;
}
.new-candidate-profile .right-column .box2 .znajomi {
    margin: 10px 10px 0px 10px;
}
.new-candidate-profile .right-column .box2 .znajomi .imagebox{
    margin: 5px;
    width: 63px;
    height: 63px;
    float: left;
    position: relative;
    overflow: hidden;
    display: block;
}
.new-candidate-profile .right-column .box2 .znajomi .imagebox img{
    height: auto;
    width: auto;
    min-width: 63px;
    min-height: 63px;
}
.new-candidate-profile .right-column .box2 .znajomi .imagebox span{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(../images/small-icon-profile-happi.jpg) no-repeat;
}
.new-candidate-profile .right-column .box3 {
    background: #EEE;
    margin-top: 10px;
    padding: 20px;
    text-align:center;
    line-height: 150%;
    color: #505251;
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.new-candidate-profile .right-column .box3 span{
    color: #3aadad;
}
.new-candidate-profile .chosen-drop {
    font-family: Tahoma;
}

/* new-candidate-profile-edit */
.new-candidate-profile-edit {
    background: #f3f3f3;
    width: 980px;
    margin: 0 auto;
    margin-top: -13px;
}
.new-candidate-profile-edit .button {
    background: #666666;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    margin-top: 1px;
    padding: 4px 7px 7px 11px;
    border: 1px solid #333;
    font-family: 'PT Sans Narrow', sans-serif;
}
.new-candidate-profile-edit .button:hover, .new-candidate-profile-edit .button:focus {
    background: #999;
    text-decoration: none;
    border: 1px solid #666;
    color: #FFF !important;
}
.new-candidate-profile-edit .button.usun {
    background: #ce0000; 
    margin-left: 10px;
}
.new-candidate-profile-edit .button.usun:hover, .new-candidate-profile-edit .button.usun:focus  {
    background: #f80000; 
}
.new-candidate-profile-edit .button.sukces {
    background: #4F5252; 
    margin-left: 10px;
}
.new-candidate-profile-edit .button.sukces:hover, .new-candidate-profile-edit .button.sukces:focus  {
    background: #999; 
}
.new-candidate-profile-edit .button.anuluj {
    background: #38ADAD; 
    margin-left: 10px;
}
.new-candidate-profile-edit .button.anuluj:hover, .new-candidate-profile-edit .button.anuluj:focus  {
    background: #2C9A99; 
}
.new-candidate-profile-edit .left-column {
    width: 650px;
    float: left;
    padding: 5px;
    position: relative;
    background: url(../images/tip-7.png) no-repeat 0px 307px;
}
.new-candidate-profile-edit .left-column .krok {
    background: none repeat scroll 0 0 #4F5252;
    color: #FFFFFF;
    display: block;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 20px;
    padding: 10px 0px;
    text-align: center;
    margin-bottom: 10px;
}
.new-candidate-profile-edit .left-column .krok span{
    color: #39ADAD;
}
.new-candidate-profile-edit .left-column .avatar {
    max-width: 200px;
    float: left;
}
.new-candidate-profile-edit .left-column .avatar img{
    max-width: 200px;
}
.new-candidate-profile-edit .left-column .form {
    float: left;
    margin-top: 10px;
    margin-left:10px;
    width: 440px;
    color: #4f5252;
}
.new-candidate-profile-edit .left-column .form label {
    font-size: 16px;
}
.new-candidate-profile-edit .left-column .form input {
    background: none repeat scroll 0 0 #FFF;
    border-color: #999;
    border-radius: 0 0 0 0;
    box-shadow: none;
    outline: medium none;
    display: block;
    width: 277px;
}
.new-candidate-profile-edit .left-column .form input:hover, .new-candidate-profile-edit .left-column .form input:focus{
    border: 1px solid #333;
}
.new-candidate-profile-edit .left-column .btn-browser {
    font-family: 'PT Sans Narrow', sans-serif;
    background: none repeat scroll 0 0 #666666;
    border: 1px solid #333333;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    padding: 4px 7px 3px 11px;
    width: auto;
    float: left;
    margin-top: 10px;
}
.new-candidate-profile-edit .left-column .btn-erase {
    background: none repeat scroll 0 0 #666666;
    border: 1px solid #333333;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    padding: 4px 7px 3px 7px;
    width: auto;
    margin-top: 0;
    float: left;
    margin-left: 2px;
    margin-top: 10px;
}
.new-candidate-profile-edit .left-column .action-avatar-box {
    float: none;
}
.new-candidate-profile-edit .left-column .doswiadczenie {
    background: #e0dede;
    margin-top: 10px;
}
.new-candidate-profile-edit .left-column .span3 {
    margin: 0px;
    margin-left: 2.5641%;
    color: #A5A5A5;
}
.new-candidate-profile-edit .left-column .doswiadczenie .header{
    background: #4f5257;
    padding: 10px;
    color: #FFF;
    position: relative;
    font-family: 'PT Sans Narrow', sans-serif;
}
.new-candidate-profile-edit .left-column .doswiadczenie .header .zmien-kolor {
    background: #333;
    padding: 10px;
    color: #FFF;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    opacity: .9;
    filter: alpha(opacity=90);
    text-align: right;
    z-index: 2;
    display: none;
}
.new-candidate-profile-edit .left-column .doswiadczenie .header .rozwin {
    background: #333;
    padding: 12px 10px 11px 10px;
    color: #FFF;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    opacity: .9;
    filter: alpha(opacity=90);
    text-align: right;
    z-index: 3;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'PT Sans Narrow', sans-serif;
    display: block;
}
.new-candidate-profile-edit .left-column .doswiadczenie .header .rozwin:hover {
    text-decoration: none;
}
.new-candidate-profile-edit .left-column .doswiadczenie .zwin {
    background: #333;
    padding: 7px 10px 9px;
    color: #FFF;
    font-size: 12px;
    float: right;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-left: 10px;
}
.new-candidate-profile-edit .left-column .doswiadczenie .header .zmien-kolor .box {
    margin-top: 15px;
    display: none;
}
.new-candidate-profile-edit .left-column .doswiadczenie .header .zmien-kolor .box p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.new-candidate-profile-edit .left-column .doswiadczenie .header .zmien-kolor .box .color {
    padding: 15px;
    float: left;
    margin-right: 2px;
    cursor: pointer;
}
.new-candidate-profile-edit .left-column .doswiadczenie .header .zmien-kolor .box .fcolor {
    padding: 15px;
    float: left;
    margin-right: 2px;
    cursor: pointer;
}
.new-candidate-profile-edit .left-column .doswiadczenie .dodaj {
    padding: 15px 15px;
    margin: 15px;
    background: #e1e1e1;
    font-size: 14px;
    cursor: pointer;
    border: 1px #FFF dashed;
    text-align: center;
}
.new-candidate-profile-edit .left-column .doswiadczenie i.icon-add-item {
margin: 1px 11px 2px 12px;
}
.new-candidate-profile-edit .left-column .doswiadczenie .dodaj:hover {
    color: #666;
}
.new-candidate-profile-edit .left-column .doswiadczenie .box-do-rozwijania {
    display: none;
}
.new-candidate-profile-edit .left-column .doswiadczenie .item {
    margin: 15px;
    padding: 10px 10px 10px 10px;
    background: #eee;
    border: 1px solid #eee;
    font-size: 12px;
}
.new-candidate-profile-edit .left-column .doswiadczenie .item:hover {
    margin: 15px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #999;
}
.new-candidate-profile-edit .left-column .doswiadczenie .item .date small{
    font-size: 12px;
    color: #333;
}
.new-candidate-profile-edit .left-column .doswiadczenie .item .date small{
    font-size: 12px;
    color: #CCC;
}
.new-candidate-profile-edit .left-column .doswiadczenie .item .pozycja{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.new-candidate-profile-edit .left-column .doswiadczenie .item .firma{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.new-candidate-profile-edit .left-column .doswiadczenie .item .opis{
    font-size: 14px;
    margin-bottom: 10px;
}
.new-candidate-profile-edit .left-column .doswiadczenie .item .buttons{
    opacity: .3;
    filter: alpha(opacity=30);
}
.new-candidate-profile-edit .left-column .doswiadczenie .dodaj-doswiadczenie{
    margin: 15px;
    padding: 10px 10px 10px 10px;
    background: #eee;
    display: none;
}
.new-candidate-profile-edit .left-column .dodaj-doswiadczenie label {
    font-size: 14px;
}
.new-candidate-profile-edit .left-column .dodaj-doswiadczenie input {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0 0 0 0;
    box-shadow: none;
    outline: medium none;
    display: block;
    width: 100px;
}
.new-candidate-profile-edit .left-column .dodaj-doswiadczenie input:hover, .new-candidate-profile-edit .left-column .dodaj-doswiadczenie input:focus{
    border: 1px solid #333;
}
.new-candidate-profile-edit .left-column .dodaj-doswiadczenie textarea {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0 0 0 0;
    box-shadow: none;
    outline: medium none;
    display: block;
    width: 100px;
}
.new-candidate-profile-edit .left-column .dodaj-doswiadczenie textarea:hover, .new-candidate-profile-edit .left-column .dodaj-doswiadczenie textarea:focus{
    border: 1px solid #333;
}

.new-candidate-profile-edit .left-column .doswiadczenie .edytuj-doswiadczenie{
    background: #eee;
    display: none;
}
.new-candidate-profile-edit .left-column .edytuj-doswiadczenie label {
    font-size: 14px;
}
.new-candidate-profile-edit .left-column .edytuj-doswiadczenie input {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0 0 0 0;
    box-shadow: none;
    outline: medium none;
    display: block;
    width: 100px;
}
.new-candidate-profile-edit .left-column .edytuj-doswiadczenie input:hover, .new-candidate-profile-edit .left-column .edytuj-doswiadczenie input:focus{
    border: 1px solid #333;
}
.new-candidate-profile-edit .left-column .edytuj-doswiadczenie textarea {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0 0 0 0;
    box-shadow: none;
    outline: medium none;
    display: block;
    width: 100px;
}
.new-candidate-profile-edit .left-column .edytuj-doswiadczenie textarea:hover, .new-candidate-profile-edit .left-column .edytuj-doswiadczenie textarea:focus{
    border: 1px solid #333;
}
.new-candidate-profile-edit .left-column .label-error {
    position: absolute;
    left: -30px;
}
.new-candidate-profile-edit .left-column .row-fluid  div {
    position: relative;
}
.new-candidate-profile-edit .checkbox-bg {
    background:#FFF;
    position: inherit !important;
}
.new-candidate-profile-edit .span3 {
   color: #A5A5A5;
    font-size: 12px;
}

.new-candidate-profile-edit .right-column {
    width: 300px;
    padding: 10px;
}
.new-candidate-profile-edit .right-column h3 {
    font-size: 21px ;
    font-weight: normal;
    color:#4f5252;
    text-transform: uppercase;
    border-bottom: 1px solid #4f5252;
    font-family: 'PT Sans Narrow', sans-serif;
}
.new-candidate-profile-edit .right-column h2 {
    font-size: 20px ;
    font-weight: normal;
    color:#4f5252;
}
.new-candidate-profile-edit .right-column .uzupelnij-box {
    position: relative;
    top: 5px;
    width: 300px;
    background: #F3F3F3;
    z-index: 3;
}
.new-candidate-profile-edit .right-column .uzupelnij-box .bar{
    -moz-box-sizing: border-box;
    background-color: none;
    background-image: none;
    background-repeat: none;
    color: #FFFFFF;
   
}
.new-candidate-profile-edit .right-column .uzupelnij-box .progress-success > .bar {
    background: #38ADAD;
}
.new-candidate-profile-edit .right-column .uzupełnij {
    display: block;
    padding: 15px 50px;
    background: #4f5252;
    color: #FFF;
    font-size: 15px;
    margin: 10px 0px 0px 0px;
    position: relative;
    font-family: 'PT Sans Narrow', sans-serif;
}
.new-candidate-profile-edit .right-column .uzupełnij span {
    color: #39ADAD;
    display: block;
    font-size: 35px;
    position: absolute;
    right: 60px;
    top: 3px;
}
.new-candidate-profile-edit .right-column .uzupełnij:hover {
    background: #666;
    text-decoration: none;
}
.new-candidate-profile-edit .right-column .uzupełnij2 {
    display: block;
    padding: 15px 50px;
    background: #FFF;
    color: #505251;
    font-size: 15px;
    margin: 10px 0px 0px 0px;
    position: relative;
    font-family: 'PT Sans Narrow', sans-serif;
}
.new-candidate-profile-edit .right-column .uzupełnij2 span {
    color: #39ADAD;
    display: block;
    font-size: 35px;
    position: absolute;
    right: 60px;
    top: 3px;
}
.new-candidate-profile-edit .right-column .uzupełnij2:hover {
    background: #CCC;
    text-decoration: none;
}
/* profile-cv */
.profile-cv {
    
}
.profile-cv .box1 {
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
}
.profile-cv .box1 .avatar {
    float: left;
}
.profile-cv .box1 .avatar img {
    width: 240px;
}
.profile-cv .box1 .adress { 
    float: left;
    margin-left: 30px;
    margin-top: 60px;
}
.profile-cv .box1 .name {
    font-size: 24px;
    color: #a4a7a7;
    margin-top: 5px;
    padding-left: 41px;
    margin-bottom: 5px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.profile-cv .box1 .adres {
    font-size: 15px;
    color: #4f5252;
    margin: 0px auto 0px auto;
    height: 34px;
    padding-left: 40px;
    line-height: 40px;
    background: url(../images/icon-adres-white.jpg) no-repeat;
}
.profile-cv .box1 .email {
    font-size: 15px;
    color: #4f5252;
    margin: -5px auto 0px auto;
    height: 34px;
    padding-left: 40px;
    line-height: 40px;
    background: url(../images/icon-email-white.jpg) no-repeat;
}
.profile-cv .box1 .phone {
    font-size: 15px;
    color: #4f5252;
    margin: -5px auto 0px auto;
    height: 34px;
    line-height: 40px;
    padding-left: 40px;
    background: url(../images/icon-phone-white.jpg) no-repeat;
}
.profile-cv .box1 .urodz {
    font-size: 15px;
    color: #4f5252;
    margin: -5px auto 0px auto;
    height: 34px;
    padding-left: 40px;
    line-height: 40px;
}
.profile-cv .doswiadczenie {
    background: #e0dede;
    color: #848c8b;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.profile-cv .doswiadczenie .header{
    background: #505252;
    color: #FFF;
    width: 200px;
    padding: 10px 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}
.profile-cv .doswiadczenie .item{
    padding: 10px 20px 0px 20px;
}
.profile-cv .doswiadczenie .item b{
    margin-bottom: 5px;
}
.profile-cv .doswiadczenie .item i{
    margin-bottom: 5px;
}
.profile-cv .doswiadczenie .item p{
    margin-bottom: 5px;
}
.profile-cv .button {
    background: #666666;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    border: 1px solid #333;
    margin-top: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 4px 7px 7px 11px;
    float: right;
}
.profile-cv .button:hover {
    text-decoration: none;
    background: #999;
}
.legend {
    font-size: 11px;
    color: #999;
    margin-top:-10px;
}
.legend p {
    margin-bottom: 3px;
}
.legend h3 {
    height: auto;
}

/*******************************************/
.custom-popup {
    position:absolute;
    display: none;
    background:#fff;
    padding:5px;
    border:1px solid #cccccc;
    margin-top:5px;
    z-index:999;
}
.custom-popup .action-button {
    color:#fff;
    display: block;
    padding: 10px 5px;
    text-transform:uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
}
.custom-popup .action-button:hover {
    text-decoration:none;
}

.custom-popup .input-box {
    padding: 0;
    margin:0 0 5px 0;
}
.custom-popup .input-box input[type="text"] {
    padding:4px;
    margin:0;
}

.custom-popup input[type="checkbox"] {
    margin:0;
}

.custom-popup span {
    display: block;
    line-height: 16px;
}

.custom-popup h4 {
    font-size: 19px;
    text-align: center;
    font-weight: normal;
    margin: 0px;
    color: #39adad;
    font-family: 'PT Sans Narrow', sans-serif;
    padding:8px 0 12px;
}

.custom-popup span.action-wrapper {
    margin: 5px 0 0 0;
    text-align: center;
}

.groups-management-wrapper-toggler {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: -52px;
    float: left;
}
.groups-management {
    margin-top:-10px;
}
.groups-management-wrapper-toggler:hover {
    text-decoration: none;
}

#deleteGroupsProxy.disabled {
    color: #333333;
    background-color: #e6e6e6;
    border: #333 1px solid;
}

