.debug {
    min-width: 900px;
    width: 90%;
    margin-left: 5%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
}
.debug:hover {
    box-shadow: 0px -1px 15px #CCC;
}
.debug .item {
    float: left;
    padding: 7px 10px 0px 10px;
    height: 18px;
    font-size: 10px;
    white-space: nowrap;
    margin-top: -1px;
    border-top: 1px solid #CCC;
    cursor: default;
}
.debug .item:hover {
    background: #FFF;
    padding: 7px 9px 0px 9px;
    border-left: solid 1px #CCC;
    border-right: solid 1px #CCC;
    color: #39ADAD;
    border-top: 1px dotted #CCC;
    box-shadow: 0px 10px 5px #888888;
}
.debug .item:hover .info{
    display: block;
}
.debug .name {
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    float: left;
    background: #39ADAD;
    padding: 8px 10px 0px 10px;
    height: 18px;
    font-size: 10px;
    color: #FFF;
    font-weight: bold;
    margin-top: -1px;
    margin-left: -1px;
}
.debug .name a {
    color: #FFF;
}
.debug .item .info {
    line-height: 150%;
    display: none;
    position: fixed;
    bottom: 26px;
    padding: 10px;
    background: #FFF;
    cursor: auto;
    color: #333;
    margin-left: -10px;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 500px;
    overflow: hidden;
}