@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,latin-ext);

body, html{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	color: #4e5253;
	font-size: 15px;
        
}
* {
    outline: none !important;
}
a.btn:hover, .login-box a:hover {
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
a.register:hover {
    text-decoration: underline;
}
ol {
    margin-left: 20px;
    list-style:decimal;
}
*[hidden] {display: none;}

.clear{clear: both;}

.no-border-radius{
	border-radius:0px;
	-webkit-border-radius:0px;
}

.green-text{
	color: #39adad;
}

.center{
	width: 980px;
	margin: 0px auto;
}

.main-content{
	width: 980px;
	margin: 0px auto;
	padding: 15px 0px 0px 0px;
	color: #a5a5a5;
	position: relative;
}

.main-content h2{
	font-size: 25px;
	font-weight: normal;
	margin: 0px;
	color: #39adad;
        font-family: 'PT Sans Narrow', sans-serif;
}

.main-content.home-content{
	color: #a5a5a5;
}

.main-content.home-content h2{
	font-size: 25px;
	font-weight: normal;
	color: #39adad;
	border-bottom: none;
}

.logo-main{
	float: left;
	width: 220px;
	height: 65px;
	margin: 20px 0px 0px 0px;
}

.underline-menu{
	height: 10px;
	background: #39adad;
	width: 100%;
}

.underline-header-content{
	display: block;
	height: 3px;
	margin-bottom: -15px;
	background: #39adad;
}


h1.error-404, h1.help{
	font-size: 50px;
	color: #515254;
	margin: 30px 0px 0px 50px;
	font-weight: normal;
}

.error-404-img{
	width: 809px;
	height: 458px;
	margin: 10px auto 20px auto;
}

.error-text{
	text-align: center;
	font-size: 30px;
	color: #515254;
	line-height: 40px;
	margin: 40px 0px;
}

.error-text em{
	font-size: 40px;
}

.error-btn-home{
	display: block;
	text-align: center;
	background: #39adad;
	border: 1px solid #268888;
	height: 22px;
	width: 388px;
	padding: 18px 0px;
	margin: 20px auto;
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
	opacity: 1;
}

.error-btn-home:hover{
	opacity: 0.8;
	text-decoration: none;
	color: #fff;
}

.login-nav{
	height: 50px;
	width: 980px;
	margin: 0px;
}

.login-nav ul li{
	float: left;
	margin: 0px 1px;
	background: #ededed;
        font-family: 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;
}

.login-nav ul li a{
	height: 50px;
	display: block;
	text-align: center;
	color: #4e5253;
	font-size: 17px;
	line-height: 50px;
	width: 194px;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
    font-family: 'PT Sans Narrow', sans-serif;
}

.login-nav ul li a:hover, .login-nav ul li.active a{
	text-decoration: none;
	color: #fff;
	background: #39adad;
}

.main-nav{
	height: 50px;
	width: 980px;
	margin: 20px 0px 0px 0px;
}

.main-nav ul li{
	float: left;
	margin: 0px 1px;
	background: #ededed;
}

.main-nav ul li:last-child{
	margin: 0px 0px 0px 1px;
}

.main-nav ul li a{
	height: 50px;
	display: block;
	text-align: center;
	color: #4e5253;
	font-size: 17px;
	line-height: 50px;
	width: 151px;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
        font-family: 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;
}

.main-nav ul li a:hover, .main-nav ul li.active a{
	text-decoration: none;
	color: #fff;
	background: #39adad;
}

.main-nav ul li.active a i.icon-house, .main-nav ul li a:hover .icon-house{
	height: 21px;
	width: 23px;
	background: url(../images/sprite.png) 0px 0px no-repeat;
}

.main-nav ul li a i.icon-house{
	height: 21px;
	width: 23px;
	background: url(../images/sprite.png) 0px -21px no-repeat;
}

.main-nav ul li.home a{
	width: 60px;
}

footer .footer-nav{
	float: left;
	padding: 0px 40px 0px 0px;
}

footer .footer-nav li{
	height: 12px;
	padding: 2px 0px;
}

footer .footer-nav li a{
	font-size: 12px;
	color: #4e5253;
}

footer .footer-nav li a:hover{
	text-decoration: none;
	color: #39adad;
}

footer .happi-social{
	float: right;
	width: 270px;
	height: 33px;
	position: relative;
}

footer .happi-social a{
	display: block;
	float: left;
	width: 34px;
	height: 34px;
	margin: 0px 5px;
	background: url(../images/socialSprite.png) no-repeat;
}

footer .happi-social a.facebook{
	background-position: -0px 0px;
}

footer .happi-social a.twitter{
	background-position: -34px 0px;
}

footer .happi-social a.google-plus{
	background-position: -68px 0px;
}

footer .happi-social a.linkedin{
	background-position: -102px 0px;
}


footer .happi-social a.youtube{
	background-position: -136px 0px;
}

footer .happi-social a.email{
	background-position: -170px 0px;
}

footer .happi-social a.facebook:hover{
	background-position: -0px -34px;
}
footer .happi-social a.twitter:hover{
	background-position: -34px -34px;
}

footer .happi-social a.google-plus:hover{
	background-position: -68px -34px;
}

footer .happi-social a.linkedin:hover{
	background-position: -102px -34px;
}
footer .happi-social a.youtube:hover{
	background-position: -136px -34px;
}

footer .happi-social a.email:hover{
	background-position: -170px -34px;
}
footer .copy{
	float: right;
	font-size: 12px;
	color: #4e5253;
}

footer .footer-info{
	font-size: 11px;
	color: #4e5253;
	padding: 5px 0px 0px 0px;
}

footer{
	padding: 0px 0px 20px 0px;
}

.formuly{
	width: 980px;
	margin: 50px auto;
}

.formula{
	width: 270px;
	height: 270px;
	float: left;
	margin: 0px 26px;
	background: #ededed;
	color: #4e5251;
}

.formula .happi-btn{
	width: 160px;
	display: block;
	margin: 12px auto;
	padding: 10px 15px 12px 15px;

}

.formula.happi .happi-btn {
    background: #cb0e1f;
    border: 1px solid #cb0e1f;
}
.formula.mini .happi-btn {
    background: #505153;
    border: 1px solid #505153;
}
.formula.free .happi-btn {
    background: #999;
    border: 1px solid #999;
}

.formula-header{
	color: #fff;
	height: 32px;
	padding: 12px 20px;
}

.formula-header i.formula-logo{
	display: inline-block;
	width: 28px;
	height: 32px;
	background: url(../images/sprite.png) -96px 0px no-repeat;
}

.formula-header-text{
	font-size: 20px;
	float: right;
	margin: 5px 35px 0px 0px;
}
.formula.happi .formula-header-text {
    margin: 5px 15px 0 0;
}
.formula.mini{
	border: 2px solid #505153;
}

.formula.mini .formula-header, .formula.mini .formula-click{
	background: #505153;
}

.formula.happi{
	border: 2px solid #cb0e1f;
}

.formula.happi .formula-header, .formula.happi .formula-click{
	background: #cb0e1f;
}

.formula.happi .formula-logo {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url('../images/work-now-logo-mini.png') no-repeat;}

.formula.maxi{
	border: 2px solid #3e65b4;
}

.formula.maxi .formula-header, .formula.maxi .formula-click{
	background: #3e65b4;
}

.formula-body{
	position: relative;
}

.formula-price{
	font-size: 80px;
	text-align: center;
	padding: 20px 0px;
}

.formula-price small{
	font-size: 50px;
}

.formula-pln{
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 30px;
}

.formula-footer{
	background: #dadadb;
	padding: 5px 0px;
	text-align: center;
	margin-top: 5px;
}

.formula-click{
	padding: 5px 0px;
	text-align: center;
	margin-top: 15px;
	color: #fff;
	display: block;
}

.formula-click:hover{
	color: #fff;
	text-decoration: none;
}

.price-description{
	font-size: 12px;
	color: #505153;
	padding: 5px 0px 0px 0px;
	line-height: 15px;
}

.contact-map{
	width: 610px;
	height: 252px;
}

.main-apla{
	background: #39adad;
	height: 150px;
}

.main-apla img{
	opacity: 0;
	float: left;
	margin: 3px 0px 0px 0px;
}

.main-apla h1{
	width: 571px;
	opacity: 0;
	color: #fff;
	float: right;
	font-size: 35px;
	line-height: 80px;
	font-weight: normal;
	padding: 0px 50px 0px 10px;
}

.video-works{
	outline: none;
}

#videoModal{
	width: 590px;
	margin-left: -295px;
}

.app-btn, .android-btn{
	display: block;
	width: 149px;
	height: 45px;;
}

.app-btn{
	float: left;
	background: url(../images/sprite.png) 0px -116px no-repeat;
}

.android-btn{
	margin-left: 10px;
	float: left;
	background: url(../images/sprite.png) -149px -116px no-repeat;
}

.karusela-mask{
	position: relative;
	overflow: hidden;
	width: 610px;
	height: 308px;
}

.karusela{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 610px;
}

.karusela-all{
	width: 610px;
}

.one-notice{
	height: 69px;
	border-bottom: 1px solid #ededed;
	width: 610px;
	overflow: hidden;
	cursor: pointer;
	background: #fff;
	-webkit-transition: background 100ms ease-out;
	-moz-transition: background 100ms ease-out;
	-ms-transition: background 100ms ease-out;
	-o-transition: background 100ms ease-out;
	transition: background 100ms ease-out;
}

.one-notice:hover{
	background: #f5f4f4;
}

.one-notice.off{
	position: relative;
}

.one-notice.off .offer-off{
	background: url(../images/offer-off.png) no-repeat;
	position: absolute;
	width: 57px;
	height: 57px;
	right: 0px;
	top: 0px;
}

.one-notice-text-box{
	height: 69px;
	float: left;
	width: 370px;
}

.karusela .one-notice-text-box{
	width: 470px;
}

.notice-title{
	padding: 15px 0px 0px 10px;
	font-size: 17px;
}

.notice-title a{
	color: #39adad;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
        padding-bottom: 2px;
}

.one-notice.off .notice-title a{
	color: #ccc;
}

.notice-title a:hover{
	text-decoration: none;
}

.notice-job-area{
	padding: 5px 0px 0px 10px;
	font-size: 14px;
	color: #4e5253;
}

.one-notice.off .notice-job-area, .one-notice.off .one-notic-pay{
	color: #ccc;
}

.one-notice-logo{
    float: left;
    width: 100px;
    height: 69px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    overflow: hidden;   
}

.one-notice-logo img{
    margin-top: 5px;
    max-width: 100px;
    max-height: 49px;
    vertical-align: middle;
}
.one-notice-logo a{
    color: inherit;
}
.one-notice.off .one-notice-logo img{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.5;
}

.one-notic-pay{
	float: left;
	width: 130px;
	text-align: right;
	height: 69px;
	color: #404041;
	padding: 0px 10px 0px 0px;
        cursor: pointer;
}

.one-notic-pay .value{
	padding: 3px 0px 0px 0px;
	font-size: 40px;
}

.one-notic-pay .rate{
	font-size: 12px;
	padding: 5px 0px 0px 0px;
}

.one-notic-pay small{
	font-size: 20px;
}

.filtry{
	font-size: 14px;
	color: #39adad;
}

.filtry .happi-btn{
	float: right;
}

.filtry h2{
	clear: both;
	font-size: 18px;
	padding: 0px 0px 0px 5px;
	margin: 0px 0px 10px 0px;
	line-height: 25px;
	font-weight: normal;
	color: #4e5253;
}
.filtry .btn {
    font-family: Arial;
    text-transform: lowercase;
}
.filtry h2 small{
	width: 80px;
	float: right;
	font-size: 12px;
	cursor: pointer;
	margin: 5px 5px 0px 0px;
}

.filtry ul{
	margin-bottom: 10px;
}

.filtry ul li{
	position: relative;
	width: 293px;
	padding: 2px 0px 2px 10px;
	margin: 2px 0px;
	cursor: pointer;
}

.filtry ul li .erase-filtr{
	display: block;
	position: absolute;
	top: 0px;
	color: #39adad;
	right: -35px;
	font-size: 13px;
	line-height: 24px;
}

.filtry ul li .erase-filtr .erase-icon-bg{
	width: 14px;
	float: left;
	margin-right: 10px;
	display: block;
	padding: 0px 5px;
	background: #39adad;
}

.filtry ul li:hover, .filtry ul li.active{
	background: #39adad;
	color: #fff;
}

.filtry input{
	text-align: right;
	width: 100px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #ededed;
	padding: 5px 10px;
	font-size: 15px;
	margin-left: 6px;
}

.filtry h2 {
    color:#39ADAD;
}
.filtry input:focus{
	-webkit-box-shadow: none;
	box-shadow: none;
        border: 1px solid #999;
}

.small-face{
	display: inline-block;
	background: url(../images/sprite.png) -55px 0px no-repeat;
	height: 14px;
	width: 6px;
	margin: 0px 4px;
}

.job-title{
	color: #505251;
	position: relative;
}

.job-title .facebook-like{
	position: absolute;
	bottom: 0px;
	right: 80px;
	width: 150px;
	height: 20px;
}

.job-title .notice-share{
	position: absolute;
	bottom: 2px;
	right: 0px;
	width: 106px;
	height: 21px;
	z-index: 10;
}

.job-title .notice-share ul{
	position: absolute;
	display: none;
	background: #fff;
	width: 106px;
	height: 75px;
}

.job-title .notice-share ul li a{
	display: block;
	height: 25px;
	width: 106px;
	background: url(../images/share-btn.png) no-repeat;
	opacity: 1;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
}

.job-title .notice-share ul li a:hover{
	opacity: 0.7;
}

.job-title .notice-share ul li a.share{
	background-position: 0px -75px;
}

.job-title .notice-share ul li a.twitter{
	background-position: 0px -25px;
}

.job-title .notice-share ul li a.mail{
	background-position: 0px -50px;
}

.employer-address{
	position: relative;
	color: #505251;
}

.job-title p, .employer-address p{
	padding: 10px 0px 0px 5px;
}

.employer-address .logo{
	position: absolute;
	width: 100px;
	height: 69px;
	line-height: 65px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	top: 10px;
	right: 0px;
}

.employer-address .logo img{
	max-width: 100px;
	max-height: 69px;
	vertical-align: middle;
}

.employer-address h2 a{
	color: #39adad;
}

.employer-address h2 a:hover{
	text-decoration: none;
}

.employer-address a{
	color: #505251;
}

.employer-address a:hover{
	color: #39adad;
}

.notice-description{
	color: #505251;
        line-height: 150%;
}

.notice-description h2{
	padding: 10px 0px;
	font-size: 22px;
	line-height: 22px;
}

.notice-description ul{
	list-style: square inside;
}

.notice-description li, .notice-description p{
	padding-left: 5px;
}

.notice-more-column{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.notice-more-column h3{
	line-height: 20px;
	padding: 0px;
	margin: 0px;
	font-size: 20px;
	color: #39adad;
	font-weight: normal;
}

.notice-rate{
	background: #f4f4f4;
	position: relative;
	color: #4e5251;
	padding: 15px 20px;
	margin-top: 5px;
}

.notice-rate .rate{
	position: absolute;
	top: 15px;
	right: 10px;
}

.notice-rate .value{
	font-size: 34px;
	text-align: right;
	padding: 15px 0px 0px 0px;
}

.notice-rate .value small{
	font-size: 20px;
}


.notice-calendar{
	background: #f4f4f4;
	position: relative;
	color: #4e5251;
	padding: 15px 20px;
	margin-top: 5px;
}
.notice-calendar .show-hide-icon{
	position: absolute;
	top: 17px;
	right: 22px;
	height: 15px;
	width: 15px;
	background: url(../images/sprite.png) -61px 0px no-repeat;
}
a.notice-calendar-link{
	text-decoration:none;
}
a:hover.notice-calendar-link{
	text-decoration:none;
}

.notice-more-info{
	cursor: pointer;
	background: #f4f4f4;
	position: relative;
	color: #4e5251;
	padding: 15px 20px;
	margin-top: 5px;
}

.notice-more-info .show-hide-icon{
	position: absolute;
	top: 17px;
	right: 22px;
	height: 15px;
	width: 15px;
	background: url(../images/sprite.png) -61px 0px no-repeat;
}

.notice-more-info .show-hide-icon.active{
	background: url(../images/sprite.png) -61px -15px no-repeat;
}

.notice-more-info .show-hide-info{
	display: none;
}

.notice-more-info .show-hide-info p{
	margin: 10px 0px 0px 0px;
	font-size: 15px;
	line-height: 20px;
	text-align: justify;
}

.notice-contact-info{
	background: #f4f4f4;
	color: #4e5251;
	padding: 15px 20px;
	margin-top: 5px;
}

.show-phone-number{
	position: relative;
	background: #505153;
	width: 290px;
	height: 40px;
	color: #fff;
	margin-top: 20px;
	cursor: pointer;
}

.show-phone-number p{
	font-size: 15px;
	padding: 12px 10px;
}

.show-phone-number-mask{
	position: absolute;
	top: 0px;
	height: 40px;
	width: 230px;
	right: 0px;
	background: #39adad;
}

.show-phone-number-mask p{
	font-size: 15px;
	text-align: center;
	padding: 12px 0px;
}

.notice-apply{
	background: #e6e6e6;
	color: #4e5251;
	padding: 15px 20px;
	margin-top: 5px;
}

.notice-apply form{
	margin: 20px 0px 0px 0px;
}

.notice-apply form input{
	background: #fff;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 270px;
	padding: 10px;
}

.notice-apply form input:focus{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.notice-apply form label{
	display: block;
	margin: 10px 0px;
}

.notice-apply form label input{
	margin: 10px 0px 0px 0px;
}

.notice-apply .agree{
	text-align: justify;
	font-size: 11px;
	margin: 10px 0px 0px 0px;
	line-height: 17px;
}

.notice-apply .agree a{
	color: #4e5251;
	text-decoration: underline;
}

.notice-apply .agree a:hover{
	color: #4e5251;
	text-decoration: none;
}

.notice-apply .apply-submit{
	display: block;
	padding: 11px 0px;
	width: 290px;
	font-size: 17px;
	color: #fff;
	background: #505153;
	border: 1px solid #3d3d3d;
}

.notice-apply .action-file-box{
	width: 290px;
	height: 40px;
}

.karuzela-show-more{
	display: block;
	padding: 13px 0px;
	width: 610px;
	text-align: center;
	font-size: 15px;
	color: #4e5253;
	text-decoration: none;
	background: #ededed;
	border: 1px solid #d1d1d1;
	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	-ms-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
	opacity: 1;
}

.karuzela-show-more:hover{
	text-decoration: none;
	color: #4e5253;
	opacity: 0.8;
}

.login-header{
	width: 190px;
	float: left;
}
 
.text-or{
	margin: 15px 0px 0px 0px;
	float: right;
	font-size: 17px;
	color: #4e5253;
}

.text-or a{
	color: #39adad;
	text-decoration: none;
}

.text-or a:hover{
	color: #39adad;
	text-decoration: underline;
}

input.happi-big-btn{
	padding: 9px 0px;
}

.happi-big-btn{
        font-family: 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;
	display: block;
	padding: 12px 0px;
	background: #39adad;
	border: 1px solid #268888;
	color: #fff;
	font-size: 17px;
	cursor: pointer;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
	opacity: 1;
	text-align: center;
}

.happi-big-btn:hover{
	opacity: 0.8;
	text-decoration: none;
	color: #fff;
}

.icon-corner-phone{
	float: left;
	margin: 0px;
	height: 40px;
	width: 20px;
	background: url(../images/sprite.png) -76px 0px no-repeat;
}

.how-works{
	color: #fff;
	font-size: 18px;
}

.how-works h1{
	font-weight: normal;
	font-size: 40px;
	color: #4e5251;
	text-align: center;
        font-family: 'PT Sans Narrow', sans-serif;
}

.how-works h2{
	padding-top: 10px;
	font-weight: normal;
	font-size: 25px;
	color: #4e5251;
	text-align: center;
}

.how-works .how-works-human{
	width: 760px;
	height: 273px;
	margin: 30px auto 0px auto;
}

.how-works .how-works-human .human{
	width: 190px;
	height: 273px;
	float: left;
	cursor: pointer;
	background: url(../images/how-works.png) 0px 0px no-repeat;
}

.how-works .how-works-human .human-hover{
	width: 190px;
	height: 273px;
	opacity: 0;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	background: url(../images/how-works.png) 0px -273px no-repeat;
}

.how-works .how-works-human .human:hover  .human-hover, .how-works .how-works-human .human.active  .human-hover{
	opacity: 1;
}

.how-works .how-works-human .human.human-1{
	background-position: 0px 0px;
}

.how-works .how-works-human .human.human-2{
	background-position: -190px 0px;
}

.how-works .how-works-human .human.human-2 .human-hover{
	background: url(../images/how-works.png) -190px -273px no-repeat;
}

.how-works .how-works-human .human.human-3{
	background-position: -380px 0px;
}

.how-works .how-works-human .human.human-3 .human-hover{
	background: url(../images/how-works.png) -380px -273px no-repeat;
}

.how-works .how-works-human .human.human-4{
	background-position: -570px 0px;
}

.how-works .how-works-human .human.human-4 .human-hover{
	background: url(../images/how-works.png) -570px -273px no-repeat;
}

.how-works-header{
	width: 800px;
	height: 90px;
	margin: 0px auto;
}

.how-works-header .human-header{
	float: left;
	width: 170px;
	height: 50px;
	padding: 20px 0px;
	margin: 0px 15px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

.how-works-header .human-header strong{
	font-size: 22px;
}

.how-works-header .human-header.header-1, .how-works-description .human-description.description-1{
	background: #c5764c;
}

.how-works-header .human-header.header-2, .how-works-description .human-description.description-2{
	background: #37adad;
}

.how-works-header .human-header.header-3, .how-works-description .human-description.description-3{
	background: #fab86a;
}

.how-works-header .human-header.header-4, .how-works-description .human-description.description-4{
	background: #616362;
}

.how-works-description{
	width: 980px;
	margin: 0px auto;
}

.how-works-description .human-description{
	width: 920px;
	padding: 30px;
	line-height: 25px;
	font-weight: normal;
	font-size: 17px;
	text-align: justify;
	display: none;
}

.how-works-description .human-description.active{
	display: block;
}

h1.register-header{
	text-align: center;
	font-size: 40px;
	color: #4e5253;
	font-weight: normal;
	margin-top: 20px;
}

h2.register-header{
	text-align: center;
	font-size: 40px;
	color: #4e5253;
	font-weight: normal;
	margin-bottom: 20px;
}

.employer-btn, .candidate-btn{
	display: block;
	width: 390px;
	height: 70px;
	padding: 30px 0px;
	margin: 0px 49px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	float: left;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
}
.employer-btn {
    margin: 0px 49px 0px 49px;
}
.candidate-btn {
    margin: 0px 0px 0px 49px;
}
.employer-btn small, .candidate-btn small{ 
    font-size: 20px;
}
.employer-btn small .icon, .candidate-btn small .icon{ 
    margin-top: 6px;
}
.employer-btn:hover, .candidate-btn:hover{
	color: #fff;
	text-decoration: none;
	opacity: 0.8;
}

.employer-btn{
	border: 1px solid #333;
	background: #505153;
}

.candidate-btn{
	border: 1px solid #4e4e4e;
	background: #39adad;
}

.preview-header{
	background: #f4f4f4;
	padding: 10px 25px;
	border-bottom: 2px solid #3fb0b0;
	margin-bottom: 20px;
}

.preview-footer{
	background: #f4f4f4;
	padding: 10px 25px;
	border-top: 2px solid #3fb0b0;
	margin-top: 40px;
}

.preview-back{
	display: block;
	padding: 11px 15px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	background: #505153;
	float: left;
	border: 1px solid #3d3d3d;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
}

.preview-next{
	display: block;
	padding: 11px 15px;
	background: #39adad;
	border: 1px solid #268888;
	color: #fff;
	font-size: 15px;
	float: right;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
	text-align: center;
}

.preview-back:hover, .preview-next:hover{
	text-decoration: none;
	color: #fff;
	opacity: 0.8;
}

.preview-tab{
	float: left;
	width: 175px;
	height: 50px;
	font-size: 18px;
	line-height: 22px;
	color: #4e5251;
}

.preview-tab-step{
	float: left;
	width: 35px;
	height: 20px;
	text-align: center;
	font-size: 20px;
	padding: 7px 0px 8px 0px;
	margin: 5px 15px 0px 0px;
	color: #fff;
	-webkit-border-radius: 100%;
    border-radius: 100%;
	background: #4e5251;
}

.preview-tab.active{
	color: #39adad;
}

.preview-tab.active .preview-tab-step{
	background: #39adad;
}

.preview-tab-arrow{
	float: left;
	width: 26px;
	height: 20px;
	margin: 14px 40px 0px 20px;
}

.preview-tab-arrow.active{
	background: url(../images/sprite.png) -220px -33px no-repeat; 
}

.preview-tab-arrow .arrow-right{
	display: block;
	float: left;
	background: url(../images/sprite.png) -233px -33px no-repeat;
	height: 20px;
	width: 13px;
}

.preview-tab-arrow.active .arrow-right{
	background: url(../images/sprite.png) -220px -33px no-repeat; 
	height: 20px;
	width: 13px;
}

.preview-tabs{
	width: 697px;
	margin: 0px auto;
	overflow: hidden;
}

.preview-body{
	padding: 10px 0px 0px 0px;
	margin: 0px auto;
}

.preview-formula{
	width: 440px;
	margin: 0px auto;
}

.preview-formula label{
}

.preview-formula label .checkbox-bg{
	height: 50px;
	width: 50px;
}

.preview-formula .input-checkbox .checkbox-bg .check-bg{
	margin: 16px 14px;
}

.preview-formula-header{
	float: right;
	width: 385px;
	height: 50px;
	color: #fff;
	font-size: 20px;
	line-height: 50px;
}

.preview-formula.mini .preview-formula-header{
	background: #505153;
}

.preview-formula.happi .preview-formula-header{
	background: #39adad;
}

.preview-formula.maxi .preview-formula-header{
	background: #3e65b4;
}

.preview-formula.rabat .preview-formula-header{
	background: #c5764c;
}

.preview-formula-header .logo-formula{
	display: block;
	float: left;
	margin: 8px 20px 0px 20px;
	background: url(../images/sprite.png) -96px 0px no-repeat;
	width: 28px;
	height: 33px;
}

.preview-formula-description{
	float: right;
	width: 385px;
	height: 50px;
	border-bottom: 1px solid #ededed;
	text-align: center;
	line-height: 50px;
	color: #505251;
	font-size: 17px;
}

.preview-formula-description input{
	border: none;
	border-radius:0px;
	-webkit-border-radius:0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #ededed;
	width: 355px;
	color: #4e5251;
	height: 15px;
	padding: 17px 15px 18px 15px;
}

.preview-formula-description input:focus{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.preview-formula.rabat .preview-formula-description{
	margin-top: 5px;
	display: none;
}

.preview-pay-choice{
	width: 280px;
	float: left;
}

.preview-pay-choice > div{
	height: 55px;
	border-bottom: 1px solid #dedede;
	background: #f4f4f4;
	font-size: 20px;
	color: #4e5251;
	margin-bottom: 7px;
}

.preview-pay-choice > div.active{
	color: #fff;
	background: #39adad;
	border-bottom: 1px solid #fff;
}

.preview-pay-choice > div.active:hover{
	background: #39adad;
}

.preview-pay-choice > div:hover{
	background: #d7d7d7;
	border-bottom: 1px solid #fff;
}

.preview-pay-choice > div label{
	width: 280px;
	height: 55px;
	line-height: 55px;
	display: block;
}

.preview-pay-choice > div small{
	font-size: 13px;
}

.preview-pay-choice > div label input{
	display: none;
}

.preview-pay-choice > div label .phone-icon{
	display: block;
	float: left;
	background: url(../images/sprite.png) -307px 0px no-repeat;
	width: 14px;
	height: 28px;
	margin: 15px 30px 0px 30px;
}

.preview-pay-choice > div.active label .phone-icon{
	background: url(../images/sprite.png) -293px 0px no-repeat;
}

.preview-pay-choice > div label .online-icon{
	display: block;
	float: left;
	background: url(../images/sprite.png) -279px -32px no-repeat;
	width: 33px;
	height: 19px;
	margin: 20px 20px 0px 22px;
}

.preview-pay-choice > div.active label .online-icon{
	background: url(../images/sprite.png) -279px -51px no-repeat;
}

.preview-pay-choice > div label .card-icon{
	display: block;
	float: left;
	background: url(../images/sprite.png) -246px -33px no-repeat;
	width: 33px;
	height: 21px;
	margin: 20px 20px 0px 22px;
}

.preview-pay-choice > div.active label .card-icon{
	background: url(../images/sprite.png) -246px -54px no-repeat;
}

.preview-summation{
	width: 360px;
	float: left;
	margin-left: 60px;
}

.your-choice{
	background: #f4f4f4;
	padding: 15px;
	margin-bottom: 7px;
	border-bottom: 1px solid #dedede;
}

.your-choice h2{
	font-size: 22px;
	line-height: 22px;
	color: #39adad;
}

.your-choice ul{
	list-style: square inside;
	color: #4e5251;
	padding: 10px 0px 0px 20px;
}

.your-choice ul li{
	padding: 5px 0px;
}

.your-sms{
	display: none;
	background: #e6e6e6;
	padding: 15px;
	margin-bottom: 7px;
	color: #4e5251;
	font-size: 15px;
	line-height: 20px;
}

.your-sms input{
	width: 310px;
	height: 15px;
	padding: 10px;
	text-align: center;
}

.your-sms input{
	border: none;
	border-radius:0px;
	-webkit-border-radius:0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #fff;
	width: 310px;
	height: 15px;
	padding: 10px;
	text-align: center;
	color: #4e5251;
	margin: 5px 0px 0px 0px;
}

.your-sms input:focus{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.your-pay{
	background: #f4f4f4;
	padding: 15px;
	margin-bottom: 5px;
	border-bottom: 1px solid #dedede;
}

.your-pay h2{
	font-size: 22px;
	line-height: 22px;
	color: #39adad;
	float: left;
}

.your-pay .price{
	font-size: 22px;
	float: right;
	color: #4e5251;
}

.happi-fb-like{
	margin-top: 30px;
	background: #f7f7f7 url(../images/fb-logo.png) right bottom no-repeat;
	padding: 15px 0px;
	border: 1px solid #ededed;
}

.simple-fb-like{
	background: #f7f7f7 url(../images/fb-logo.png) right bottom no-repeat;
	padding: 10px 0px;
	border: 1px solid #ededed;
}

.happi-fb-like .fb-like{
	margin: 0px 7px;
}

.simple-fb-like .fb-like-box{
	margin: 0px 15px;
}

.testimonials{
	margin-top: 50px;
}

.testimonials-logo{
	float: left;
	text-align: center;
	width: 95px;
	height: 50px;
	line-height: 50px;
	margin: 0px 20px 0px 0px;
}

.testimonials-text{
	font-size: 16px;
	color: #505153;
	line-height: 20px;
	padding-top: 5px;
}

.testimonials-signature{
	background: url(../images/under-testimonials.png) no-repeat;
	height: 54px;
	width: 453px;
	text-align: center;
	margin: 30px auto 0px auto;
	padding: 30px 0px 0px 50px;
}

.simple-text{
	line-height: 20px;
	color: #515254;
	text-align: justify;
}

.main-content .simple-text h2{
	margin: 0px;
	padding: 0px;
}

.simple-text p{
	padding-top: 20px;
}

.simple-text a{
	color: #515254;
	text-decoration: underline;
}

.simple-text a:hover{
	color: #515254;
	text-decoration: none;
}

.simple-text ul{
	list-style: square;
	padding: 15px 0px 15px 40px;
}

.simple-text li p{
	padding: 5px 0px 20px 0px;
}

.simple-text li ul, .simple-text li ol{
	padding-top: 0px;
	padding-bottom: 20px;
}

.simple-text ol{
	padding: 15px 0px 15px 40px;
}
