.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
	padding: 0px;
	margin: 40px 0px 0px 0px;
	color: #515254;
}

.dataTable{
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	margin: 20px 0px;
}

.dataTable th{
	cursor: pointer;
}

.dataTable td{
	vertical-align: middle;
}

.dataTable td.sorting_1{
	background: #f5f5f5;
}

.dataTable td.sorting_1:last-child{
	border-left: none;
	border-right: none;
}

.dataTables_info{
	font-size: 12px;
	text-align: right;
	margin-bottom: 20px;
}

.dataTable th:hover{
	text-decoration: underline;
}

.dataTable th.sorting_asc{
	background: #f5f5f5 url(../images/arrow-up.png) 92% 15px no-repeat;
}
.dataTable th.sorting{
	background: url(../images/arrows.png) 92% 15px no-repeat;
}
.dataTable th.sorting_desc{
	background: #f5f5f5 url(../images/arrow-down.png)  92% 22px no-repeat;
}

.dataTables_paginate{
	display: block;
	float: right;
	margin: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*zoom: 1;
	border: 1px solid #dddddd;
}

.dataTables_paginate span a{
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #ffffff;
	border-left: 1px solid #dddddd;
}

.dataTables_paginate span a.paginate_active{
	color: #999999;
	cursor: default;
	background: #f5f5f5;
}

.dataTables_paginate span a.paginate_button:hover, .paginate_button:hover{
	color: #000;
	cursor: pointer;
	background: #f5f5f5;
	text-decoration: none;
}

.paginate_button{
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #ffffff;
	border-left: 1px solid #dddddd;
}

.paginate_button_disabled{
	color: #999999;
	cursor: default;
	background-color: transparent;
}

.paginate_button_disabled:hover{
	color: #999999;
	background: #fff;
	cursor: default;
}

.first{
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	border-left: none;
}

.last{
	-webkit-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}

.dataTables_length{
	position: absolute;
	bottom: -50px;
	left: 0px;
}

.dataTables_filter{
	position: absolute;
	top: -50px;
	left: 0px;
}

div.DTTT_container {
	position: absolute;
	top: 15px;
	right: 0px;
}

a.DTTT_button {
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

a.DTTT_button:hover {
	text-decoration: none;
	color: #333333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.table td.dataTables_empty{
	text-align: center;
}

.table-select{
	position: absolute;
	right: 0px;
	top: 20px;
}

th.column-action, th.column-action-small{
	text-align: center;
}

.column-action-small{
	text-align: center;
	width: 60px;
}

.column-action{
	width: 160px;
	text-align: center;
}

.column-name{
	width: 444px;
}

.column-phone{
	width: 100px;
}

.table.candidate .column-name{
	width: 170px;
}

.table th.column-name.sorting_asc{
	background: #f5f5f5 url(../images/arrow-up.png) 440px 15px no-repeat;
}

.table th.column-name.sorting_desc{
	background: #f5f5f5 url(../images/arrow-down.png) 440px 22px no-repeat;
}

.table.candidate th.column-name.sorting_asc{
	background: #f5f5f5 url(../images/arrow-up.png) 166px 15px no-repeat;
}

.table.candidate th.column-name.sorting_desc{
	background: #f5f5f5 url(../images/arrow-down.png) 166px 22px no-repeat;
}

.main-content .data-table h2{
	border-bottom: 2px solid #39adad;
	margin-bottom: 70px;
	padding: 15px 0px 15px 10px;
}

.data-table .add-candidate{
	float: right;
	margin: 12px 0px 0px 0px;
}

.table a{
	color: #515254;
}