@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,latin-ext);

.left-column {
    float: left;
    padding: 0 20px 0 0;
    width: 610px;
}

.action-avatar-box.left-column{
	float: left;
	width: 610px;
	padding: 0px 20px 0px 0px;
}

.right-column{
	float: right;
	width: 330px;
}

.red-text{
	color: #d24343;
	font-size: 13px;
}

.main-form h2{
	padding: 0px 0px 15px 30px;
	border-bottom: 2px solid #39adad;
}

.help-phone-box{
	width: 270px;
	height: 122px;
	background: #fab86a;
	padding: 30px;
	margin: 70px auto 55px auto;
}

.help-phone-box p.phone{
	color: #fff;
	font-size: 40px;
}

.help-phone-box .call{
	font-size: 25px;
	margin: 10px 0px;
}

.help-phone-box p{
	font-size: 17px;
	color: #000;
}

.input-box{
	margin: 0px auto 0px auto;
	padding: 8px 0 0 0;
}

.input-box.left{
	width: 600px;
}

.input-box.right{
	width: 330px;
	margin: 0px auto;
}

.input-box label{
	display: block;
	width: 100%;
	height: 100%;
}

.input-box.left label.input-box-pend{
	width: 250px;
	float: left;
}

.input-box.left label.input-box-pend.right{
	float: right;
}

.input-box.left label.input-box-half{
	width: 280px;
	float: left;
}

.input-box.left label.input-box-half.right{
	float: right;
}

.input-box.left label.input-box-half input{
	width: 260px;
}

.input-box.left label.input-box-pend .append, .input-box.left label.input-box-pend .prepend{
	float: left;
	width: 30px;
	background: #ededed;
	/*background: #a5a5a5;*/
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.input-box.left label.input-box-pend input{
	text-align: right;
	float: left;
	width: 170px;
	margin: 0px;
}

.input-checkbox{
	margin-top: 10px;
}

.input-checkbox:hover .checkbox-bg{
	background: #d7d7d7;
}

.input-checkbox input[type=checkbox]{
	display: none;
}

.input-checkbox .checkbox-bg{
	float: left;
	left: 39px;
	/*border: 1px solid #a5a5a5;*/
	background: #ededed;
        border: 1px solid #CCC;
}

.input-checkbox .checkbox-bg .check-bg{
	margin: 11px 9px;
	height: 13px;
	width: 16px;
}

.input-checkbox .checkbox-bg .check-bg.active{
	background: url(../images/sprite.png) -23px -29px no-repeat;
}

.input-checkbox .label-checkbox{
	color: #727272;
	float: left;
	padding: 10px 20px;
}

.input-box-label{
	padding-left: 10px;
}

.input-box.left input, .input-box.left textarea{
	width: 580px;
}

.label-error{
	display: inline-block;
	height: 14px;
	width: 14px;
	background: url(../images/sprite.png) -44px -22px no-repeat;
	margin: 0px 0px -2px 10px;
}

.input-box.right input, .input-box.right textarea{
	width: 310px;
}

.input-box input, .input-box textarea{
	display: block;
	background: #ededed;
	padding: 10px;
	margin: 5px 0px 0px 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 15px;
	color: #727272;
	font-family: Tahoma, Geneva, sans-serif;
}


.input-box textarea{
	resize: vertical;
}

.input-box input:focus, .input-box textarea:focus{
	border: 1px solid #999;
	background: #ededed;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.add-item{
	position: relative;
	height: 50px;
}

.add-item input, .add-item span{
	position: absolute;
}

.input-box.left .add-item input{
	width: 510px;
	padding: 10px 80px 10px 10px;
}

.delete-item-btn{
	position: absolute;
	right: 40px;
	top: 10px;
	display: block;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

i.icon-delete-item{
	margin: 17px 11px 18px 12px;
	height: 5px;
	width: 17px;
	background: url(../images/sprite.png) -44px 0px no-repeat;
}

.add-item-btn{
	position: absolute;
	right: 0px;
	top: 10px;
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

i.icon-add-item{
	width: 17px;
	height: 17px;
	margin: 11px 11px 12px 12px;
	background: url(../images/sprite.png) -44px -5px no-repeat;
}

.select-box{
	padding: 0px 15px;
	height: 75px;
	margin: 20px 0px 0px 0px;
	position: relative;
}

.select-box.right{
	width: 300px;
}

.select-box.left{
	width: 570px;
}

.select-box .input-box-label{
	padding: 0px;
	margin-left: -5px;
}

.input-area{
	width: 100%;
	height: 15px;
	font-size: 15px;
	padding: 12px 15px 13px 15px;
	margin: 10px 0px 0px -15px;
	border: none;
	background: #ededed;
	font-size: 15px;
	color: #727272;
	font-family: Tahoma, Geneva, sans-serif;
	cursor: pointer;
}

.icon-select-list{
	height: 12px;
	width: 16px;
	display: block;
	background: url(../images/sprite.png) -23px 0px no-repeat;
	position: absolute;
	right: 15px;
	top: 37px;
}

.select-box ul{
	display: none;
	position: absolute;
	background: #a5a5a5;
	padding: 0px;
	left: 0px;
	top: 65px;
	width: 100%;
	color: #fff;
	z-index: 1000;
}

.select-box ul li{
	padding: 5px 15px;
	cursor: pointer;
	background: #a5a5a5;
	border-top: 1px solid #fff;
}

.select-box ul li:hover{
	background: #ededed;
	color: #727272;
}

.input-box.right .calendar{
	width: 330px;
}

.input-box .calendar{
	position: relative;
}

.input-box.right .calendar input{
	width: 310px;	
}

.input-box.left .calendar input, .input-box.right .calendar input{
	border: 1px solid #c2c2c2;
}

.icon-calendar-input{
	display: block;
	margin: 13px;
	height: 16px;
	width: 16px;
	position: absolute;
	top: 30px;
	right: 0px;
	cursor: pointer;
	background: url(../images/sprite.png) -23px -13px no-repeat;
}

input[type="submit"].submit-form{
	margin: 0px;
	height: 38px;
	width: 118px;
	float: right;
	background: #39adad;
	border: 1px solid #268888;
	color: #fff;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
	opacity: 1;
}

input[type="submit"].submit-form:hover{
	opacity: 0.8;
}

.direct-place, .area-place{
	display: none;
}

.file-input-box{
	width: 330px;
	margin: 25px 0px 0px 0px;
}

.file-box{
	background: #ededed;
	width: 300px;
	padding: 15px;
	margin-top: 10px;
}

.file-box .img-box{
	color: #727272;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 300px;
	height: 115px;
	background: #fff;
}

.file-box .img-box p{
	display: block;
	width: 280px;
	margin: 0px auto;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.file-box .img-box img{
	vertical-align: middle;
	max-width: 300px;
}

.action-file-box{
	height: 40px;
	margin-top: 15px;
}

.action-file-box .btn-browser{
	position: relative;
	overflow: hidden;
	height: 20px;
	padding: 10px 0px 8px 0px;
	width: 250px;
	float: left;
	cursor: pointer;
	background: #515254;
	text-align: center;
	color: #fff;
	border: 1px solid #2a2b2b;
	opacity: 1;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
}

.action-file-box .btn-browser:hover{
	opacity: 0.8;
}

.action-file-box .btn-browser input{
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	border: solid transparent;
	width: 250px;
	height: 40px;
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-transform: translate(-50px, 0px) scale(7);
	direction: ltr;
	cursor: pointer;
}

.action-file-box .btn-erase{
	height: 20px;
	padding: 10px 0px 8px 0px;
	width: 40px;
	float: right;
	cursor: pointer;
	background: #515254;
	text-align: center;
	color: #fff;
	border: 1px solid #2a2b2b;
	opacity: 1;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
}

.action-file-box .btn-erase:hover{
	opacity: 0.8;
}

.avatar-input-box{
	width: 300px;
}

.avatar-input-box .img-box{
	width: 100px;
	height: 100px;
	float: left;
	border: 1px solid #268888;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.avatar-input-box .img-box img{
	vertical-align: middle;
	max-width: 100px;
	max-height: 100px;
}

.action-avatar-box{
	width: 190px;
	float: right;
}

.action-avatar-box .btn-browser{
	position: relative;
	overflow: hidden;
	height: 20px;
	padding: 10px 0px 8px 0px;
	width: 188px;
	cursor: pointer;
	background: #515254;
	text-align: center;
	color: #fff;
	border: 1px solid #2a2b2b;
	opacity: 1;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
}

.btn-browser .file-label{
	display: block;
	margin: 0px auto;
	width: 95%;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.action-avatar-box .btn-browser input{
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	border: solid transparent;
	width: 250px;
	height: 40px;
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-transform: translate(-50px, 0px) scale(7);
	direction: ltr;
	cursor: pointer;
}

.action-avatar-box .btn-browser:hover{
	opacity: 0.8;
}

.action-avatar-box .btn-erase{
	display: block;
	margin-top: 20px;
	height: 20px;
	padding: 10px 0px 8px 0px;
	width: 188px;
	cursor: pointer;
	background: #515254;
	text-align: center;
	color: #fff;
	border: 1px solid #2a2b2b;
	opacity: 1;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
}

.action-avatar-box .btn-erase:hover{
	opacity: 0.8;
}

.happi-btn{
	display: block;
	padding: 5px 15px 7px 15px;
	background: #39adad;
	border: 1px solid #268888;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
	opacity: 1;
        font-family: 'PT Sans Narrow', sans-serif;
	text-align: center;
}

.happi-btn.brown{
	background: #505153;
	border: 1px solid #3d3d3d;
}

.happi-btn:hover{
	opacity: 0.8;
	text-decoration: none;
	color: #fff;
}

.login-box{
	float: right;
	height: 30px;
	margin: 60px 0px 0px 0px;
	position: relative;
        font-family: 'PT Sans Narrow', sans-serif;
}

.login-box:hover .register-box{
	/*display: block;*/
}

.register-box{
	display: none;
	position: absolute;
	right: 0px;
	top: 30px;
	width: 220px;
	padding: 15px;
	background: #fff;
	z-index: 1000;
	border: 1px solid #268888;
}

.login-with-facebook{
	display: block;
	width: 220px;
	height: 30px;
	margin: 0px auto;
	background: url(../images/sprite.png) 0px -46px no-repeat;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
	opacity: 1;
}

.login-with-facebook.big{
	height: 40px;
	width: 330px;
	background: url(../images/sprite.png) 0px -76px no-repeat;
}

.login-with-facebook:hover{
	opacity: 0.8;
}

.input-text{
	width: 218px;
	height: 28px;
	border: 1px solid #a5a5a5;
	background: #ededed;
	margin: 0px auto 10px auto;
}

.input-text i{
	opacity: 0.5;
	margin: 4px 6px;
}

input[type="submit"].submit-login{
	width: 220px;
	height: 30px;
	padding: 5px 0px;
	margin: 10px auto 0px auto;
}

.input-text input{
	width: 180px;
	height: 28px;
	padding: 0px;
	margin: 0px;
	border: none;
	background: #ededed;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 15px;
	color: #a5a5a5;
	font-family: Tahoma, Geneva, sans-serif;
}

.input-text input:focus{
	border: none;
	background: #ededed;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.login-or{
	text-align: center;
	width: 25px;
	background: #fff;
	font-size: 12px;
	margin: -23px 97px 10px 98px;
}

.facebook-or{
	text-align: center;
	width: 25px;
	background: #fff;
	font-size: 15px;
	margin: -24px 152px 10px 153px;
}

.register{
	display: block;
	width: 100%;
	padding: 10px 15px;
	margin: 20px 0px 0px -15px;
	background: #ededed;
	color: #8f8f8f;
	text-align: center;
}

.register:hover{
	color: #8f8f8f;
}

.logout-box{
	float: right;
	height: 30px;
	margin: 40px 0px 0px 0px;
	position: relative;
	cursor: pointer;
        font-family: 'PT Sans Narrow', sans-serif;
}

.logout-box .profil-link,.logout-box .profil-link:hover{
	color: #8f8f8f;
}

.logout-box .happi-btn{
	display: inline-block;
}

.logout-box a.happi-btn {
    max-height: 17px;
}
.logout-box a.happi-btn span.badge {
    top: -1px;
    position: relative;
}

.happi-btn i{
	margin: 2px 0px -2px 0px;
}

.logout-box .happi-btn i{
	margin: 3px -2px -2px 5px;
}

.popover {
	color: #4e5253;
}

.connect-w-face{
	border: 2px solid #ededed;
	width: 296px;
	padding: 15px;
	margin: 42px auto 15px auto;
	color: #505153;
	font-size: 15px;
}

.connect-face{
	display: block;
	height: 42px;
	width: 299px;
	margin-top: 15px;
	background: url(../images/sprite.png) 0px -161px no-repeat;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
}

.connect-face:hover{
	opacity: 0.8;
}

.driving-licence-check{
	width: 40px;
	height: 40px;
	background: #fff;
	float: left;
	display: block;
	margin: 0px 8px 10px 0px;
	text-align: center;
	line-height: 40px;
	color: #a5a5a5;
	position: relative;
        border: 1px solid #CCCCCC;
}

.driving-licence-check:nth-child(7n+2){
	margin: 10px 0px 0px 0px;
}

.driving-licence-check input{
	display: none;
}

.driving-licence-check .driving-licence-corner{
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(../images/sprite.png) -298px -116px no-repeat;
	height: 19px;
	width: 19px;
	display: none;
}

.driving-licence-check:hover{
	background: #d7d7d7;
}

.driving-licence-check.active{
	border: 1px solid #505153;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.driving-licence-check.active .driving-licence-corner{
	display: block;
}

.experience-box, .education-box{
	padding-bottom: 15px;
	border-bottom: 1px solid #c2bebe;
}

.experience-box .happi-btn, .education-box .happi-btn{
	padding: 12px 0px;
}

.experience-box .add-btn, .education-box .add-btn{
	float: left;
	width: 480px;
	margin-left: 5px;
}

.experience-box .remove-btn, .education-box .remove-btn{
	float: right;
	width: 100px;
	margin-right: 5px;
}


form .span3{
	text-align: right;
	font-family: Tahoma, Geneva, sans-serif;
	color: #505153;
	margin: 10px 0px 20px 0px;
	line-height: 20px;
}

form .span7{
	position: relative;
}

form .span7 input, form .span7 textarea{
	background: #ededed;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	width: 400px;
}
form .span7 input:focus, form .span7 textarea:focus{
    border: 1px solid #999;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
form .span7 .text-input input, form .span7 .textarea-input textarea{
	padding: 10px;
}

form .span7 .textarea-input textarea{
	resize: vertical;
}

form .span7 .data-input{
	position: relative;
	width: 420px;
}

form .span7 .data-input .icon-calendar-input{
	top: 0px;
}

form .span7 .data-input input{
	border: 1px solid #c2c2c2;
	padding: 10px;
}

.feature-row{
	overflow: hidden;
	width: 420px;
	margin: 10px 0px 0px 0px;
}

.feature-row.stawka{
	display: none;
}

form .span7 .text-input.small{
	text-align: right;
}

form .span7 .text-input.small input{
	width: 100px;
}

form .span7 .file-input-box{
	margin: 0px;
}

form .span7 .file-input-box .file-box{
	margin: 0px;
	width: 250px;
}

form .span7 .file-input-box .file-box .btn-browser{
	width: 200px;
        font-family: 'PT Sans Narrow', sans-serif;
}

.input-char-num .char-num{
	display: block;
	width: 400px;
	text-align: right;
	margin: 0px 0px 10px 0px;
	font-size: 13px;
	color: #a5a5a5;
}

.select-input{
	position: relative;
	width: 400px;
	padding: 10px 9px;
	background: #ededed;
	border: 1px solid #c2c2c2;
}

.select-input .icon-select-list{
	top: 10px;
}

.select-input .select-label{
	color: #727272;
}

.select-input ul{
	display: none;
	color: #505153;
	position: absolute;
	background: #a5a5a5;
	padding: 0px;
	left: -1px;
	top: 35px;
	width: 100%;
	color: #fff;
	z-index: 1000;
	border: 1px solid #c2c2c2;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 280px;
}

.select-input ul li{
	padding: 5px 15px;
	cursor: pointer;
	background: #a5a5a5;
	border-top: 1px solid #fff;
}

.select-input ul li:hover{
	background: #ededed;
	color: #727272;
}

.position-map{
	width: 420px;
	height: 200px;
}

.hand-tip{
	position: absolute;
}

.hand-tip.tip-1{
	width: 287px;
	height: 57px;
	left: 425px;
	top: -7px;
	background: url(../images/tip-1.png) no-repeat;
}

.hand-tip.tip-2{
	width: 239px;
	height: 59px;
	left: 425px;
	top: -5px;
	background: url(../images/tip-3.png) no-repeat;
}

.hand-tip.tip-3{
	width: 301px;
	height: 74px;
	left: 425px;
	top: 13px;
	background: url(../images/tip-4.png) no-repeat;
}

.hand-tip.tip-4{
	width: 235px;
	height: 58px;
	left: 425px;
	top: -9px;
	background: url(../images/tip-2.png) no-repeat;
}

.hand-tip.tip-5{
    background: url("../images/tip-5.png") no-repeat scroll 0 0 transparent;
    height: 78px;
    left: 225px;
    top: 41px;
    width: 295px;
}

.hand-tip.tip-6{
    background: url("../images/tip-6.png") no-repeat scroll 0 0 transparent;
    height: 71px;
    left: 435px;
    top: -18px;
    width: 231px;
}

.big-tags{
	background: #39adad url(../images/tagi-header-2.png) center 40px no-repeat;
	width: 980px;
	padding: 100px 0px 30px 0px;
	color: #fff;
	margin: 0px 0px 30px 0px;
}

.small-tip{
	float: right;
	margin: 10px 140px 0px 0px;
	font-size: 13px;
}

.red-stars{
	color: red;
}

.edit-candidat-window{
	padding: 20px 40px;
	background: #39adad  url(../images/big-tip.png) center 20px no-repeat;
	position: relative;
}

.edit-candidat-window .connect-face{
	position: absolute;
	top: 85px;
	left: 250px;
	margin: 0px;
}

.edit-candidat-window .candidat-data{
	margin-top: 130px;
}

form .edit-candidat-window .span7 input, form .edit-candidat-window .span7 textarea{
	width: 100%;
}

.work-now{
	position: relative;
	background: #8a281e url(../images/work-now.png) left top no-repeat;
	width: 100%;
	height: 110px;
}

.work-now .input-checkbox{
	position: absolute;
	top: 40px;
	left: 130px;
	color: #fff;
	margin: 0px;
}

.edit-candidat-small-window{
	background:#39adad;
	padding: 20px;
	color: #fff;
	font-size: 18px;
	margin: 0px 0px 45px 0px;
	position: relative;
}

.edit-candidat-small-window .img-box{
	float: left;
}

.edit-candidat-small-window .img-box img{
	border: 5px solid #fff;
}

.edit-candidat-small-window .candidat-data{
	margin: 10px 0px 0px 30px;
	float: left;
}

.edit-candidat-small-window .candidat-data p{
	padding: 0px 0px 10px 0px;
}

.edit-candidat-small-window .candidat-data p a{
	color: #fff;
}

.edit-candidat-small-window .candidat-data strong{
	font-size: 25px;
}

.search-job-btn{
	float: right;
	background: #f16437;
	border: 1px solid #d1461a;
	padding: 10px 20px 15px 20px;
	display: block;
	color: #fff;
	opacity: 1;
	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	-ms-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
}
.search-job-btn:hover{
	text-decoration: none;
	opacity: 0.8;
        color: #fff;
}

.edit-candidat-small-window .happi-btn-brown{
	display: block;
	padding: 5px 10px 7px 10px;
	font-size: 15px;
	background: #515254;
	border: 1px solid #2a2b2b;
	color: #fff;
	opacity: 1;
	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	-ms-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
}

.edit-candidat-small-window .happi-btn-brown:hover{
	text-decoration: none;
	opacity: 0.8;
}

.edit-candidat-small-window .happi-btn-brown.preview{
	position: absolute;
	bottom: 20px;
	left: 185px;
}

.edit-candidat-small-window .happi-btn-brown.edit{
	position: absolute;
	bottom: 20px;
	right: 20px;
}