@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,latin-ext);

.znajdz3sposoby {
    font-family: 'Comfortaa', cursive;
    color: #646464;
}
.znajdz3sposoby .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 320px;
    background: #39ADAD url(../images/landingpage/znajdz3sposobybg.jpg) no-repeat center top;
    z-index: -1;
}
.znajdz3sposoby .page {
    width: 1100px;
    margin: 0 auto;
}
.znajdz3sposoby .page .logo {
    display: block;
    background: url(../images/landingpage/logo.png) no-repeat; 
    width: 527px;
    height: 207px;
    margin: 57px 0px 57px -20px;
}
.znajdz3sposoby .page .table {
    line-height: normal;
}
.znajdz3sposoby .page .form {
    width: 1030px;
    height: 490px;
    margin-left: -15px;
    background: url(../images/landingpage/znajdz3sposobyform.jpg) no-repeat; 
}
.znajdz3sposoby .page .form .box {
    padding-left: 600px;
    padding-top: 200px;
}
.znajdz3sposoby .page .form .box input[type=text], input[type=password] {
    width:300px;
    padding: 10px 15px;
    border-radius: 0px;
    border: 1px solid #CCC;
}
.znajdz3sposoby .page .form .box input[type=submit]{
    width: 332px;
    padding: 10px 15px;
    border-radius: 1px;
    border: 1px solid #eb0000;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    background: url(../images/landingpage/submitbg.jpg) repeat-x;
    font-family: 'Comfortaa', cursive;
}
.znajdz3sposoby .footer {
    width: 100%;
    height: 100px;
    background: #f2f2f2;
    font-family: Tahoma;
}
.znajdz3sposoby .footer .text {
    width: 1000px;
    padding-top: 30px;
    font-size: 12px;
    margin: 0 auto;
}