@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,latin-ext);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.center{
	width: 980px;
	margin: 0px auto;
}

.main-content{
	width: 980px;
	margin: 0px auto;
	padding: 15px 0px 0px 0px;
	color: #a5a5a5;
	position: relative;
}

.main-content h2{
	font-size: 25px;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	color: #39adad;
}

.main-content.home-content{
	color: #a5a5a5;
}

.main-content.home-content h2{
	font-size: 25px;
	font-weight: normal;
	color: #39adad;
	border-bottom: none;
}

.logo-main{
	float: left;
	width: 220px;
	height: 65px;
	margin: 20px 0px 0px 0px;
}
.logo-main img {
    max-width: 100%;
}
.underline-menu{
	height: 10px;
	background: #39adad;
	width: 100%;
}

.underline-header-content{
	display: block;
	height: 3px;
	margin-bottom: -15px;
	background: #39adad;
}


h1.error-404, h1.help{
	font-size: 50px;
	color: #515254;
	margin: 30px 0px 0px 50px;
	font-weight: normal;
}

.error-404-img{
	width: 809px;
	height: 458px;
	margin: 10px auto 20px auto;
}

.error-text{
	text-align: center;
	font-size: 30px;
	color: #515254;
	line-height: 40px;
	margin: 40px 0px;
}

.error-text em{
	font-size: 40px;
}

.error-btn-home{
	display: block;
	text-align: center;
	background: #39adad;
	border: 1px solid #268888;
	height: 22px;
	width: 388px;
	padding: 18px 0px;
	margin: 20px auto;
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-ms-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
	opacity: 1;
}

.error-btn-home:hover{
	opacity: 0.8;
	text-decoration: none;
	color: #fff;
}

.login-nav{
	height: 50px;
	width: 980px;
	margin: 0px;
}

.login-nav ul li{
	float: left;
	margin: 0px 1px;
	background: #ededed;
}

.login-nav ul li a{
	height: 50px;
	display: block;
	text-align: center;
	color: #4e5253;
	font-size: 17px;
	line-height: 50px;
	width: 243px;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

.login-nav ul li a:hover, .login-nav ul li.active a{
	text-decoration: none;
	color: #fff;
	background: #39adad;
}

.main-nav{
    
	height: 50px;
	width: 980px;
	margin: 20px 0px 0px 0px;
}

.main-nav ul li{
	float: left;
	margin: 0px 1px;
	background: #ededed;
        text-transform: uppercase;
        font-family: 'PT Sans Narrow', sans-serif !important;
}

.main-nav ul li:last-child{
	margin: 0px 0px 0px 1px;
}

.main-nav ul li a{
	height: 50px;
	display: block;
	text-align: center;
	color: #4e5253;
	font-size: 17px;
	line-height: 50px;
	width: 151px;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}

.main-nav ul li a:hover, .main-nav ul li.active a{
	text-decoration: none;
	color: #fff;
	background: #39adad;
}

.main-nav ul li.active a i.icon-house, .main-nav ul li a:hover .icon-house{
	height: 21px;
	width: 23px;
	background: url(../images/sprite.png) 0px 0px no-repeat;
}

.main-nav ul li a i.icon-house{
	height: 21px;
	width: 23px;
	background: url(../images/sprite.png) 0px -21px no-repeat;
}

.main-nav ul li.home a{
	width: 60px;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  font-family: Tahoma, Geneva, sans-serif;
  background: #fff;
  font-size: 12px;
  position: relative;
  height: 100%;
  width: 100%;
  color: #787878;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  overflow-x: hidden;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body > section {
  position: absolute;
  width: 100%;
  height: 100%;
}
body > section header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
}
body > section header h1 {
  float: left;
  padding: 10px;
}
body > section header h1 a {
  display: block;
  width: 205px;
  height: 55px;
}
body > section header h1 a img {
  max-width: 100%;
  max-height: 100%;
}
.cities {
  line-height: 24px;
  font-size: 24px;
  color: #39adad;
  float: left;
  margin: 39px 0px 0px 430px;
}
.cities a {
  color: #39adad;
}
.cities a.active {
  font-weight: bold;
}
body > section header nav {
  float: right;
  margin: 25px 0px 0px 0px;
}
body > section header nav ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
body > section header nav ul li a {
  display: block;
  padding: 18px 20px 17px 20px;
  font-size: 15px;
  color: #4e5253;
  background-color: #ededed;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}
body > section header nav ul li a:hover {
  color: #fff;
  background-color: #39adad;
  text-decoration: none;
}
body > section header nav ul li.active a {
  color: #fff;
  background-color: #39adad;
  text-decoration: none;
}
body > section header nav ul li.home a {
  padding: 15px 15px 14px 15px;
}
body > section header nav ul li.home a .icon-house {
  display: block;
  height: 21px;
  width: 23px;
  background: url(../images/sprite.png) 0px -21px no-repeat;
}
body > section header nav ul li.home a:hover .icon-house {
  background: url(../images/sprite.png) 0px 0px no-repeat;
}

.map {
  position: absolute;
  top: 155px;
  right: 270px;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  background-color: #39adad;
}
.map .gmap {
  position: absolute;
  top: 10px;
  left: 3px;
  right: 3px;
  bottom: 3px;
}

aside {
  position: absolute;
  top: 155px;
  right: 0px;
  width: 267px;
  bottom: 0px;
  border-top: 10px solid #39adad;
  border-right: 3px solid #39adad;
  border-bottom: 3px solid #39adad;
}
aside .watch {
  position: relative;
  width: 252px;
  height: 82px;
  padding: 4px;
}
aside .watch .img {
  text-align: center;
  width: 252px;
  height: 60px;
  display: table-cell; 
  vertical-align: middle;
}
aside .watch .img img {
  max-width: 252px;
  max-height: 40px; 
  vertical-align: middle;
}
aside .watch .motto {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 240px;
  font-size: 14px;
  color: #595959;
  padding: 10px;
  padding-left: 3px;
  font-weight: bold;
  color: #39ADAD;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.85);
}
aside .watch a {
  opacity: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  background-color: #2ecc71;
  border-color: #27ae60;
  border-style: solid;
  border-bottom-width: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
aside .watch a:hover {
  border-bottom-width: 1px;
  margin-top: 2px;
  text-decoration: none;
}
aside .address {
  position: relative;
  height: 51px;
}
aside .address h2 {
  color: #39adad;
  font-weight: bold;
  float: left;
  padding: 4px;
}
aside .address p {
  padding: 5px 4px;
  margin: 0px 0px 0px 0px;
  line-height: 15px;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
aside .address p::selection {
  background-color: #39adad;
  color: #fff;
}
aside .address p a {
  color: #595959;
}
aside .address p a::selection {
  background-color: #39adad;
  color: #fff;
}
aside .clear {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #39adad;
}
aside form {
  position: relative;
  border-top: 5px solid #39adad;
  border-bottom: 5px solid #39adad;
  background: #fff;
  margin: 5px 0px;
}
aside form input {
  background: #fff;
  width: 252px;
  padding: 5px 4px;
  border: none;
  outline: none;
}
aside .filter {
  position: relative;
  border-top: 3px solid #39adad;
  border-bottom: 3px solid #39adad;
  background: #fff;
  margin: 5px 0px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 147px;
}
aside .filter li {
  cursor: pointer;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  background-color: #fff;
  font-size: 12px;
  padding: 7px 7px 7px 40px;
  background-position: 5px 50%;
  background-repeat: no-repeat;
  margin: 2px 0px;
}
aside .filter li:hover {
  background-color: #ededed;
}
aside .filter li.on {
  background-color: #39ADAD;
  font-weight: bold;
  color: #fff;
  background-image: url(../images/mapa-on.png) !important;
  background-position: 218px -1px;
}
aside .filter li.icon1 {
  background-image: url(../images/cat-icon/kielnia.png);
}
aside .filter li.icon2 {
  background-image: url(../images/cat-icon/zebatki.png);
}
aside .filter li.icon3 {
  background-image: url(../images/cat-icon/karton.png);
}
aside .filter li.icon4 {
  background-image: url(../images/cat-icon/koszyk.png);
}
aside .filter li.icon5 {
  background-image: url(../images/cat-icon/filizanka.png);
}
aside .filter li.icon6 {
  background-image: url(../images/cat-icon/zeszyt.png);
}
aside .filter li.icon7 {
  background-image: url(../images/cat-icon/sprzedaz.png);
}
aside .filter li.icon8 {
  background-image: url(../images/cat-icon/sluchawka.png);
}
aside .filter li.icon9 {
  background-image: url(../images/cat-icon/promocje.png);
}
aside .filter li.icon10 {
  background-image: url(../images/cat-icon/inwentaryzacje.png);
}
aside .filter li.icon11 {
  background-image: url(../images/cat-icon/miotla.png);
}
aside .filter li.icon12 {
  background-image: url(../images/cat-icon/student.png);
}
aside .filter li.icon13 {
  background-image: url(../images/cat-icon/komputer.png);
}
aside .filter li.icon14 {
  background-image: url(../images/cat-icon/pracafizyczna.png);
}
aside .filter li.icon15 {
  background-image: url(../images/cat-icon/pracedorywcze.png);
}
aside .filter li.iconnull {
  background-image: url(../images/cat-icon/pracedorywcze.png);
}

aside .offers {
  position: absolute;
  bottom: 0px;
  top: 303px;
  width: 260px;
}
aside .offers .clear {
  top: 3px;
}
aside .offers h2 {
  color: #39adad;
  font-weight: bold;
  float: left;
  padding: 4px;
}
aside .offers p {
  padding: 2px 4px;
  margin: 0px 0px 0px 0px;
  line-height: 15px;
}
aside .offers article {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 5px 0px;
  border-bottom: 1px solid #39adad;
  cursor: pointer;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
aside .offers article strong {
  font-weight: bold;
}
aside .offers article .pln {
  float: right;
  margin: 6px 0px 0px 0px;
}
aside .offers article p:nth-child(2) {
  margin-bottom: 5px;
}
aside .offers article a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  background-color: #2ecc71;
  border-color: #27ae60;
  border-style: solid;
  border-bottom-width: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
aside .offers article a:hover {
  border-bottom-width: 1px;
  text-decoration: none;
}
aside .offers article:hover, aside .offers article.active {
  background-color: #ededed;
}
aside .offers .scroll {
  position: absolute;
  top: 24px;
  bottom: 0px;
  width: 260px;
  overflow-y: auto;
  overflow-x: hidden;
}

.see-all {
  float: right;
  margin: 2px 4px 0px 0px;
  text-decoration: underline;
  color: #595959;
}
.see-all:hover {
  text-decoration: none;
}

.mcontent {
  overflow: hidden;
  width: 250px;
  font-family: Tahoma !important
}
.mcontent strong {
  font-weight: bold;
  display: inline;
  vertical-align: middle;
  padding-top: 3px;
}
.mcontent p:nth-child(2) {
  margin: 5px 0px;
}
.mcontent .btns {
  text-align: center;
  margin-top: 10px;
}
.mcontent a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  background-color: #2ecc71;
  border-color: #27ae60;
  border-style: solid;
  border-bottom-width: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 2px;
}
.mcontent a:hover {
  border-bottom-width: 1px;
  margin-top: 2px;
  text-decoration: none;
}
.mcontent a:hover {
  margin-bottom: 0px;
}
.mcontent a.blue {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  background-color: #3498db;
  border-color: #2980b9;
  border-style: solid;
  border-bottom-width: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}
.mcontent a.blue:hover {
  border-bottom-width: 1px;
  margin-top: 2px;
  text-decoration: none;
}

.mscrollcontent {
  overflow-x: hidden;
  overflow-y: auto;
  width: 250px;
  max-height: 180px;
}
.mscrollcontent strong {
  font-weight: bold;
  padding: 3px 0px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.mscrollcontent li {
  margin: 5px 0px;
}
.mscrollcontent li a {
  color: #595959;
  background-position: left 50%;
  background-repeat: no-repeat;
  padding: 4px 0px 4px 35px;
  display: block;
}

.mscrollcontent li.icon1 a{
  background-image: url(../images/cat-icon/kielnia.png);
}
.mscrollcontent li.icon2 a{
  background-image: url(../images/cat-icon/zebatki.png);
}
.mscrollcontent li.icon3 a{
  background-image: url(../images/cat-icon/karton.png);
}
.mscrollcontent li.icon4 a{
  background-image: url(../images/cat-icon/koszyk.png);
}
.mscrollcontent li.icon5 a{
  background-image: url(../images/cat-icon/filizanka.png);
}
.mscrollcontent li.icon6 a{
  background-image: url(../images/cat-icon/zeszyt.png);
}
.mscrollcontent li.icon7 a{
  background-image: url(../images/cat-icon/sprzedaz.png);
}
.mscrollcontent li.icon8 a{
  background-image: url(../images/cat-icon/sluchawka.png);
}
.mscrollcontent li.icon9 a{
  background-image: url(../images/cat-icon/promocje.png);
}
.mscrollcontent li.icon10 a{
  background-image: url(../images/cat-icon/inwentaryzacje.png);
}
.mscrollcontent li.icon11 a{
  background-image: url(../images/cat-icon/miotla.png);
}
.mscrollcontent li.icon12 a{
  background-image: url(../images/cat-icon/student.png);
}
.mscrollcontent li.icon13 a{
  background-image: url(../images/cat-icon/komputer.png);
}
.mscrollcontent li.icon14 a{
  background-image: url(../images/cat-icon/pracafizyczna.png);
}
.mscrollcontent li.icon15 a{
  background-image: url(../images/cat-icon/pracedorywcze.png);
}
.mscrollcontent li.iconnull a{
  background-image: url(../images/cat-icon/pracedorywcze.png);
}
i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 30px;   
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
i.icon1{
  background-image: url(../images/cat-icon/kielnia.png);
}
i.icon2 {
  background-image: url(../images/cat-icon/zebatki.png);
}
i.icon3 {
  background-image: url(../images/cat-icon/karton.png);
}
i.icon4 {
  background-image: url(../images/cat-icon/koszyk.png);
}
i.icon5 {
  background-image: url(../images/cat-icon/filizanka.png);
}
i.icon6 {
  background-image: url(../images/cat-icon/zeszyt.png);
}
i.icon7 {
  background-image: url(../images/cat-icon/sprzedaz.png);
}
i.icon8 {
  background-image: url(../images/cat-icon/sluchawka.png);
}
i.icon9 {
  background-image: url(../images/cat-icon/promocje.png);
}
i.icon10 {
  background-image: url(../images/cat-icon/inwentaryzacje.png);
}
i.icon11 {
  background-image: url(../images/cat-icon/miotla.png);
}
i.icon12 {
  background-image: url(../images/cat-icon/student.png);
}
i.icon13 {
  background-image: url(../images/cat-icon/komputer.png);
}
i.icon14 {
  background-image: url(../images/cat-icon/pracafizyczna.png);
}
i.icon15{
  background-image: url(../images/cat-icon/pracedorywcze.png);
}
i.iconnull{
  background-image: url(../images/cat-icon/pracedorywcze.png);
}
@media (max-width: 1000px) {
  nav {
    display: none;
  }
}
