<div class="center">
    <nav class="login-nav">
        <ul>
            <li{if $actionName=='rabatyAction'} class="active"{/if}><a style="width: 324px;" href="{$smarty.const.HOST}moje-konto/rabaty">Kody rabatowe</a></li>
            <li{if $actionName=='tagiAction'} class="active"{/if}><a style="width: 324px;" href="{$smarty.const.HOST}moje-konto/tagi">Tagi</a></li>
            <li{if $actionName=='indexAction'} class="active"{/if}><a style="width: 324px;" href="{$smarty.const.HOST}moje-konto">Statystyki</a></li>
        </ul>            
    </nav>
</div>